@page "/blogs/single-responsibility-principle-in-solid"
@inherits BasePage

<Content FileName=@nameof(SingleResponsibility)>
    <ContentBody>
        <p>
            In this article, let's learn about <Highlight>Single Responsibility Principle</Highlight> in <Highlight>SOLID</Highlight> Principles 
            in .NET.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/solid-principles-introduction" Match="NavLinkMatch.All">SOLID Principles Introduction</NavLink>.
        </p>

        <h3>Table of Contents</h3>
        
        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#when-to-apply-srp")" Match="NavLinkMatch.All">
                    When to apply SRP?
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#demo")" Match="NavLinkMatch.All">
                    Demo
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#advantages")" Match="NavLinkMatch.All">
                    Advantages
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>
        
        <p>
            The <Highlight>Single Responsibility Principle (SRP)</Highlight> is a fundamental principle of <Highlight>SOLID</Highlight>. The 
            <Highlight>SRP</Highlight> states that a <Highlight>class</Highlight> should have <Highlight>only one responsibility or one 
            specific functionality</Highlight>. The reason behind this principle is to make the code more modular, maintainable, and reusable. When a 
            <Highlight>class</Highlight> has multiple responsibilities, it becomes difficult to modify or test the code. If a 
            <Highlight>class</Highlight> has many responsibilities, it's time to split into smaller ones. Breaking down the code into smaller, focused classes 
            makes it easier to understand and maintain. This principle applies not only to classes but also to components and microservices.
        </p>

        

        <h3 id="when-to-apply-srp">When to apply SRP?</h3>

        <p>
            When you're coding, always ask yourself what the responsibility of the class is, and if it has multiple responsibilities with 
            <Highlight><strong>AND</strong></Highlight>, consider breaking it up into smaller ones.
        </p>

        

        <h3 id="demo">Demo</h3>

        <p>
            Let's take an example of a <Highlight>Circle</Highlight> <Highlight>class</Highlight> to understand the Single Responsibility Principle. 
            Suppose we have a <Highlight>Circle class</Highlight> that has two functions, <Highlight>CalculateArea</Highlight> and 
            <Highlight>CalculateCircumference</Highlight> which are used to calculate the <Highlight>area</Highlight> and 
            <Highlight>circumference</Highlight> of the circle. But, if we look a little closer, there's another function called 
            <Highlight>PlotCircleOnCanvas</Highlight>. Doing something on a <Highlight>canvas</Highlight> is a different responsibility and is not 
            directly related to the <Highlight>circle</Highlight>. In essence, this function does not belong to this class.
        </p>

        <CodeSnippet CssClass="language-csharp">
class Circle
{
    public double Radius { get; set; }

    public Circle(double radius)
    {
        Radius = radius;
    }

    public double CalculateArea()
    {
        return Math.PI * Radius * Radius;
    }

    public double CalculateCircumference()
    {
        return 2 * Math.PI * Radius;
    }
    
    public void PlotCircleOnCanvasCircle(Canvas canvas)
    {
        // This does not belong here !!
    }
}
        </CodeSnippet>

        

        <p>
            To apply the Single Responsibility Principle, we will create a new class called <Highlight>PlotOnCanvas</Highlight> to contain the functionality of 
            plotting on a canvas. We will cut the <Highlight>PlotCircleOnCanvas</Highlight> function from the <Highlight>Circle class</Highlight> and 
            paste it into the <Highlight>PlotOnCanvas class</Highlight>. Now we will rename to <Highlight>PlotCircle</Highlight> to indicate that 
            it's plotting a circle. We can also add another method <Highlight>PlotSquare</Highlight> to plot a square.
        </p>

        <CodeSnippet CssClass="language-csharp">
class Circle
{
    public double Radius { get; set; }

    public Circle(double radius)
    {
        Radius = radius;
    }

    public double CalculateArea()
    {
        return Math.PI * Radius * Radius;
    }

    public double CalculateCircumference()
    {
        return 2 * Math.PI * Radius;
    }
}

class PlotOnCanvas
{
    public void PlotCircle(Canvas canvas)
    {
        // Plot circle on canvas
    }
    
    public void PlotSquare(Canvas canvas)
    {
        // Plot Square on canvas
    }
}
        </CodeSnippet>

        

        <h3 id="advantages">Advantages</h3>

        <p>
            The Single Responsibility Principle has several advantages, including:
        </p>

        <ul>
            <li><Highlight>Modularity</Highlight>: Breaking down code into smaller, focused classes makes it more modular and easier to understand.</li>
            <li><Highlight>Maintainability</Highlight>: When a class has only one responsibility, it's easier to modify or test the code without affecting other parts of the system.</li>
            <li><Highlight>Reusability</Highlight>: Smaller classes with specific functionality can be reused in other parts of the system.</li>
            <li><Highlight>Scalability</Highlight>: By keeping classes focused on one specific functionality, it's easier to scale the system without worrying about affecting other parts of the system.</li>
        </ul>

        

        <h3 id="summary">Summary</h3>

        <p>
            In this article we learn't what is <Highlight>SOLID</Highlight> principles.In conclusion, the Single Responsibility Principle is an important concept 
            in the SOLID principles of object-oriented programming. It states that every class, module, component, or microservice should have <Highlight>one specific 
            responsibility or functionality</Highlight>. This makes the code more <Highlight>readable, flexible, and maintainable</Highlight>. When you're 
            coding, always ask yourself what the responsibility of the class is, and if it has multiple responsibilities, consider breaking it up into smaller ones.
        </p>

        <p>
            In the C# example provided, we saw how the <Highlight>Circle</Highlight> class had a function that was not directly related to the circle's 
            functionality, and therefore violated the Single Responsibility Principle. We created a new <Highlight>class</Highlight> called 
            <Highlight>PlotOnCanvas</Highlight> to handle the plotting functionality, and moved the relevant function from the Circle class to the new class. 
            This helped us adhere to the Single Responsibility Principle and improved the overall design of our code.
        </p>
    </ContentBody>
</Content>