<section class="[ flex ] [ space-x-2 ]">
    <header class="[ basis-2/5 ]">
        <figure>
            <img src="@Details.PosterUrl" alt="@Details.Title" loading="lazy" />
        </figure>
    </header>
    <div class="[ basis-3/5 ]">
        <article class="[ flex flex-col ] [ dark:text-white ]">
            <h2 class="[ font-medium text-sm break-words leading-tight ]">@Details.Title</h2>
            <section class="[ flex flex-col ]">
                <p class="[ text-xs dark:text-neutral-400 ]">@Details.Author</p>
                <time class="[ text-xs dark:text-neutral-400 ]" datetime="@Details.CreatedOn.ToString("yyyy-MM-dd HH-mm-ss")">@Details.CreatedOn.ToShortDateString()</time>
            </section>
        </article>
    </div>
</section>

@code {
    [Parameter] public ContentMetaData Details { get; set; } = default!;
}
