@page "/blogs/using-linq-intersect-to-find-common-data"
@using LINQDemoComponents
@inherits FragmentNavigationBase

<Content FileName=@nameof(LINQIntersect)>
    <ContentBody>
        <p>
            In this article, let's learn about how to use <ContentHighlight>Intersect</ContentHighlight> in <ContentHighlight>LINQ</ContentHighlight> in .NET.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink class="[ underline ]" href="blogs/using-linq-except-to-find-difference-in-data" Match="NavLinkMatch.All">Using LINQ Except to Find Difference in data</NavLink>.
        </p>

        <h3 class="[ font-semibold text-lg ]">Table of Contents</h3>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#primitive-types")" Match="NavLinkMatch.All">
                    Using LINQ Intersect to compare primitive types
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#objects")" Match="NavLinkMatch.All">
                    Using LINQ Intersect to compare objects
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#equality-comparer")" Match="NavLinkMatch.All">
                    Using LINQ Intersect to compare with Equality Comparer
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#intersect-by-primitive-types")" Match="NavLinkMatch.All">
                    Using LINQ Intersect By to compare objects with primitive types
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#intersect-by-objects")" Match="NavLinkMatch.All">
                    Using LINQ Intersect By to compare objects
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction" class="[ font-semibold text-lg ]">Introduction</h3>

        <p>
            When working with two collections, we can find the same data between them using LINQ <ContentHighlight>Intersect()</ContentHighlight> method. The idea here is to find out
            values in one which is in other and returns the list of common ones. With <ContentHighlight>Intersect()</ContentHighlight>, we can compare two collections for Common items. 
            <ContentHighlight>Intersect()</ContentHighlight> and <ContentHighlight>IntersectBy()</ContentHighlight> are exact opposite of <ContentHighlight>Except()</ContentHighlight> 
            and <ContentHighlight>ExceptBy()</ContentHighlight>.
        </p>

        <p>
            LINQ <ContentHighlight>Intersect()</ContentHighlight> is used to answer questions about collection such as
        </p>

        <ul class="[ list-disc ] [ ml-4 ]">
            <li>Find phones that have sales</li>
            <li>Find customers who have ordered specific product</li>
            <li>Compare data in tables between different environments</li>
        </ul>

        <h3 id="primitive-types" class="[ font-semibold text-lg ]">Using LINQ Intersect to compare primitive types</h3>

        <p>
            Primitive data types like <ContentHighlight>int</ContentHighlight>, <ContentHighlight>decimal</ContentHighlight>, <ContentHighlight>string</ContentHighlight>, etc can just
            compare the values against other value in the collection
        </p>

        <GithubGistSnippet Title="LINQ Intersect Primitive Types" UserId="fingers10" FileName="8321f8d43096bae57047fe45ed79a3c5"></GithubGistSnippet>

        <DemoSnippet Title="LINQ Intersect Clause Demo">
            <p>
                Let's try LINQ Intersect with integer type
            </p>

            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Enter number and add it to respective sequence</li>
                <li>For demo purpose I have restricted sequence length to 3</li>
                <li>Click on Intersect Button to view the result</li>
                <li>Click on reset to try other combination</li>
            </ol>

            <IntersectDemo></IntersectDemo>
        </DemoSnippet>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="objects" class="[ font-semibold text-lg ]">Using LINQ Intersect to compare objects</h3>

        <p>
            Intersect checks for reference equality of two objects for <ContentHighlight>object</ContentHighlight> data types.
        </p>

        <GithubGistSnippet Title="LINQ Intersect Objects" UserId="fingers10" FileName="937a9f820691bb5b74ad56e8fc78499e"></GithubGistSnippet>

        <DemoSnippet Title="LINQ Intersect Clause Objects Demo">
            <p>
                Let's try LINQ Intersect with objects
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <ContentHighlight>Product</ContentHighlight> class with following properties - <ContentHighlight>Id, Name</ContentHighlight></li>
                <li>We have <ContentHighlight>Sale</ContentHighlight> class with following properties - <ContentHighlight>ProductId, Price</ContentHighlight></li>
                <li>The tables are loaded with product and sale collection.</li>
                <li>Click on Intersect Button to view the result.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <IntersectObjectDemo></IntersectObjectDemo>
        </DemoSnippet>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="equality-comparer" class="[ font-semibold text-lg ]">Using LINQ Intersect to compare with Equality Comparer</h3>

        <p>
            So, equality for primitive data types with <ContentHighlight>Intersect()</ContentHighlight> is easy and straight forward, but with objects by default it's going to work by
            comparing object references. But in most cases we want to make comparison based on one or more properties in the object. To do that we need to start by creating
            <ContentHighlight>EqualityComparer&lt;T&gt;</ContentHighlight> class.
        </p>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>Create a <ContentHighlight>ProductComparer</ContentHighlight> class that inherits from <ContentHighlight>EqualityComparer&lt;Product&gt;</ContentHighlight> class.</li>
            <li>Override <ContentHighlight>Equals(Product 1, Product 2) method.</ContentHighlight></li>
            <li>Write the conditions to check equality and return true if both matches.</li>
            <li>Also override <ContentHighlight>GetHashCode()</ContentHighlight> method and return unique value for every single object.</li>
        </ol>

        <GithubGistSnippet Title="LINQ Intersect Product Comparer" UserId="fingers10" FileName="4d6512baa84fd9b3a905fcc85b9a1f3b"></GithubGistSnippet>

        <GithubGistSnippet Title="LINQ Intersect With Product Comparer" UserId="fingers10" FileName="8815b3c797f7e99e3ec7fed5d4226575"></GithubGistSnippet>

        <DemoSnippet Title="LINQ Intersect Clause with Comparer Demo">
            <p>
                Let's try LINQ Intersect with Comparer
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <ContentHighlight>Product</ContentHighlight> class with following properties - <ContentHighlight>Id, Name</ContentHighlight></li>
                <li>The tables are loaded with two product collection.</li>
                <li>Click on Except Button to view the result.</li>
                <li>Unlike previous demo, here we use <ContentHighlight>ProductComparer</ContentHighlight> to compare objects based on their property values. So they will be equal irrespective of reference.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <IntersectWithComparerDemo></IntersectWithComparerDemo>
        </DemoSnippet>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="intersect-by-primitive-types" class="[ font-semibold text-lg ]">Using LINQ Intersect By to compare objects with Primitive Types</h3>

        <p>
            Starting .NET 6, Microsoft added <ContentHighlight>IntersectBy()</ContentHighlight> which is similar to <ContentHighlight>Intersect</ContentHighlight> in functionality but with an 
            simplification that we don't need to use a comparer class. We can use <ContentHighlight>Key Expression</ContentHighlight> to find the common.
        </p>

        <GithubGistSnippet Title="LINQ Intersect By Primitive Types" UserId="fingers10" FileName="496887217d10f62f1b4f47ad34874153"></GithubGistSnippet>

        <DemoSnippet Title="LINQ Intersect By Clause Demo">
            <p>
                Let's try LINQ Intersect By with integer type
            </p>

            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Enter number and add it to sequence</li>
                <li>For demo purpose I have restricted sequence length to 3</li>
                <li>The Key Expression here is the Product ID. So whatever ID you enter in above sequence, IntersectBy() will compare and return the common Products from collection.</li>
                <li>For demo purpose I will be displaying only Product ID's</li>
                <li>Click on Intersect By Button to view the result</li>
                <li>Click on reset to try other combination</li>
            </ol>

            <IntersectByDemo></IntersectByDemo>
        </DemoSnippet>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="intersect-by-objects" class="[ font-semibold text-lg ]">Using LINQ Intersect By to compare objects</h3>

        <p>
            Previously, we saw a demo on how to find products that are sold. We can also perform the same function using <ContentHighlight>IntersectBy()</ContentHighlight>. Unlike 
            <ContentHighlight>Intersect()</ContentHighlight>, <ContentHighlight>IntersectBy()</ContentHighlight> will return list of <ContentHighlight>Product</ContentHighlight> instead of 
            product Id's.
        </p>

        <GithubGistSnippet Title="LINQ Intersect By Objects" UserId="fingers10" FileName="afd0bca1260cb71c6f119c9270773077"></GithubGistSnippet>

        <DemoSnippet Title="LINQ Intersect By Clause Demo">
            <p>
                Let's try LINQ Intersect By with objects
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <ContentHighlight>Product</ContentHighlight> class with following properties - <ContentHighlight>Id, Name</ContentHighlight></li>
                <li>We have <ContentHighlight>Sale</ContentHighlight> class with following properties - <ContentHighlight>ProductId, Price</ContentHighlight></li>
                <li>The tables are loaded with product and sale collection.</li>
                <li>The Key Expression here is the Product ID. IntersectBy() will compare and return the common Products from collection.</li>
                <li>For demo purpose I will be displaying only Product ID's</li>
                <li>Click on Intersect By Button to view the result.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <IntersectByObjectDemo></IntersectByObjectDemo>
        </DemoSnippet>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="summary" class="[ font-semibold text-lg ]">Summary</h3>

        <p>
            In this article we learn't how to check for common data between collections using <ContentHighlight>Intersect</ContentHighlight> and <ContentHighlight>IntersectBy</ContentHighlight>. 
            This can be used to find if item is between collection matches or not and also we can compare object item using Comparer. All these can be used with any 
            <ContentHighlight>IEnumerable</ContentHighlight> or <ContentHighlight>IQueryable</ContentHighlight> types.
        </p>
    </ContentBody>
</Content>