@page "/blogs/using-linq-group-by-to-group-data"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQGroupBy)>
    <ContentBody>
        <p>
            In this article, let's learn about how to use <Highlight>GroupBy</Highlight> in <Highlight>LINQ</Highlight> in .NET.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/simulating-left-outer-join-using-linq" Match="NavLinkMatch.All">Simulating Left Outer Join using LINQ</NavLink>.
        </p>

        <h3>Table of Contents</h3>

        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#group-by")" Match="NavLinkMatch.All">
                    Using LINQ Group By to group collections
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#group-by-ordering")" Match="NavLinkMatch.All">
                    Ordering Grouped Collections
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#group-by-filtering")" Match="NavLinkMatch.All">
                    Filtering Grouped Collections
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>

        <p>
            When working with collection, we can group data in them using LINQ <Highlight>GroupBy()</Highlight> method. This will group elements in collection and gives a 
            sequence of <Highlight>IGrouping&lt;key , Object&gt;</Highlight> interface. Internally <Highlight>GroupBy()</Highlight> Groups the elements of a 
            sequence according to a specified key selector function and creates a result value from each group and its key. <Highlight>GroupBy()</Highlight> is similar to 
            <Highlight>group by</Highlight> in SQL.
        </p>

        <p>
            LINQ <Highlight>GroupBy()</Highlight> is used to answer questions about collection such as
        </p>

        <ul>
            <li>Grouping sales data by product, region, or date to get insights into sales trends and patterns.</li>
            <li>Grouping employee data by department, job title, or location to analyze the distribution of employees across the organization.</li>
            <li>Grouping inventory data by product category, supplier, or manufacturing date to track inventory levels and monitor stock turnover.</li>
            <li>Grouping log data by error type, source, or severity to track and diagnose application errors.</li>
            <li>Grouping financial data by transaction type, account, or date to monitor account activity and perform analysis on financial data.</li>
        </ul>

        <h3 id="group-by">Using LINQ Group By to group collections</h3>

        <p>
            <Highlight>GroupBy()</Highlight> is a very popular thing, a very common thing that you would do in many applications where organizing, summarizing, and 
            analyzing data in a more meaningful way. We can group elements in sequences (arrays, lists, etc.) based on a key value. The result is a new sequence that contains elements 
            with the matching key element and their associated collection values.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;IGrouping&lt;string, Product&gt;&gt; result = products
                                           .GroupBy(product =&gt; product.Color)
                                           .ToList();
                    
//Query Syntax
List&lt;IGrouping&lt;string, Product&gt;&gt; result = (from product in products
                                           group product by product.Color)
                                           .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ GroupBy Clause with Objects Demo">
            <p>
                Let's try LINQ GroupBy with Objects
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>The tables is loaded with product collection.</li>
                <li>The Key Expression here is the <Highlight>Product Color</Highlight>. <Highlight>GroupBy()</Highlight> will group Products return new sequence of <Highlight>IGrouping&lt;Key, Product&gt;</Highlight>.</li>
                <li>Click on GroupBy Button to view the result.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <GroupByDemo></GroupByDemo>
        </DemoSnippet>

        

        <h3 id="group-by-ordering">Ordering Grouped Collections</h3>
        
        <p>
            We can order the collections prior to grouping using the LINQ <NavLink href="blogs/using-linq-orderby-to-sort-data" Match="NavLinkMatch.All">OrderBy</NavLink>. 
            But if we want to order the collection after grouping we need to use <Highlight>into</Highlight> and <Highlight>select</Highlight> to make this happen in 
            Query Syntax and <Highlight>select</Highlight> in Method Syntax.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;IGrouping&lt;string, Product&gt;&gt; result = products
                                           .GroupBy(product =&gt; product.Color)
                                           .OrderBy(group =&gt; group.Key)
                                           .Select(group =&gt; group)
                                           .ToList();
                    
//Query Syntax
List&lt;IGrouping&lt;string, Product&gt;&gt; result = (from product in products
                                           group product by product.Color into group
                                           order by group.Key
                                           select group)
                                           .ToList();
        </CodeSnippet>

        

        <h3 id="group-by-filtering">Filtering Grouped Collections</h3>
        
        <p>
            We can filter the collections after grouping using the LINQ <NavLink href="blogs/using-linq-where-to-filter-data" Match="NavLinkMatch.All">Where</NavLink>. 
            This is similar to <Highlight>Having</Highlight> clause in <abbr title="Structured Query Language">SQL</abbr>.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;IGrouping&lt;string, Product&gt;&gt; result = products
                                           .GroupBy(product =&gt; product.Color)
                                           .OrderBy(group =&gt; group.Key)
                                           .Where(group =&gt; group.Count() &gt; 1)
                                           .Select(group =&gt; group)
                                           .ToList();
                    
//Query Syntax
List&lt;IGrouping&lt;string, Product&gt;&gt; result = (from product in products
                                           group product by product.Color into group
                                           order by group.Key
                                           where group.Count() &gt; 1
                                           select group)
                                           .ToList();
        </CodeSnippet>

        

        <h3 id="summary">Summary</h3>

        <p>
            In this article we learn't how to group data in collections using <Highlight>GroupBy</Highlight>. This allows you to group elements in collection based on a 
            specified key resulting in <Highlight>IGrouping&lt;Key, Object&gt;</Highlight> collection. All these can be used with any 
            <Highlight>IEnumerable</Highlight> or <Highlight>IQueryable</Highlight> types.
        </p>
    </ContentBody>
</Content>