@page "/blogs/using-linq-sequence-equal-to-find-equality-of-data"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQSequenceEqual)>
    <ContentBody>
        <p>
            In this article, let's learn about how to use <Highlight>SequenceEqual</Highlight> in <Highlight>LINQ</Highlight> in .NET.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/using-linq-contains-to-check-data" Match="NavLinkMatch.All">Using LINQ Contains to Check Data</NavLink>.
        </p>

        <h3>Table of Contents</h3>

        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#primitive-types")" Match="NavLinkMatch.All">
                    Using LINQ Sequence Equal to compare primitive types
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#objects")" Match="NavLinkMatch.All">
                    Using LINQ Sequence Equal to compare objects
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#equality-comparer")" Match="NavLinkMatch.All">
                    Using LINQ Sequence Equal to compare with Equality Comparer
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>

        <p>
            When working with two collections, we can find the equality between them using LINQ <Highlight>SequenceEqual()</Highlight> method. The idea here is to find out 
            if two collections are equal or find values in one which is not in other or to find values in common. With <Highlight>SequenceEqual()</Highlight>, we can compare 
            two collections for Equality.
        </p>

        <p>
            LINQ <Highlight>SequenceEqual()</Highlight> is used to answer questions about collection such as
        </p>

        <ul>
            <li>Read lines from two files and compare like git difference</li>
            <li>Read data from two different table to check for equality</li>
            <li>Compare data in tables between different environments</li>
        </ul>

        <h3 id="primitive-types">Using LINQ Sequence Equal to compare primitive types</h3>

        <p>
            Primitive data types like <Highlight>int</Highlight>, <Highlight>decimal</Highlight>, <Highlight>string</Highlight>, etc can just
            compare the values against other value in the collection
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;int&gt; list = new() { 1, 2, 3, 4, 5 };
List&lt;int&gt; anotherList = new() { 1, 2, 3, 4, 5 };

//Method Syntax
bool result = list
              .SequenceEqual(anotherList);
                    
//Query Syntax
bool result = (from number in list select number)
              .SequenceEqual(anotherList);
        </CodeSnippet>

        <DemoSnippet Title="LINQ SequenceEqual Clause Demo">
            <p>
                Let's try LINQ SequenceEqual with integer type
            </p>

            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Enter number and add it to respective sequence</li>
                <li>For demo purpose I have restricted sequence length to 3</li>
                <li>Click on Sequence Equal Button to view the result</li>
                <li>Click on reset to try other combination</li>
            </ol>

            <SequenceEqualDemo></SequenceEqualDemo>
        </DemoSnippet>

        

        <h3 id="objects">Using LINQ Sequence Equal to compare objects</h3>

        <p>
            Sequence Equal checks for reference equality of two objects for <Highlight>object</Highlight> data types.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Product&gt; anotherProducts = GetProducts();

//Point to same reference to make SequenceEqual True
//products = anotherProducts;

//Method Syntax
bool result = products
              .SequenceEqual(anotherProducts);
                    
//Query Syntax
bool result = (from product in products select product)
              .SequenceEqual(anotherProducts);
        </CodeSnippet>

        <DemoSnippet Title="LINQ SequenceEqual Clause Objects Demo">
            <p>
                Let's try LINQ SequenceEqual with objects
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>The tables are loaded with two product collection.</li>
                <li>Click on Sequence Equal Button to view the result.</li>
                <li>Click on Assign to same reference button to make two collection to point to same reference.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <SequenceEqualObjectDemo></SequenceEqualObjectDemo>
        </DemoSnippet>

        

        <h3 id="equality-comparer">Using LINQ Sequence Equal to compare with Equality Comparer</h3>

        <p>
            So, equality for primitive data types with <Highlight>SequenceEqual()</Highlight> is easy and straight forward, but with objects by default it's going to work by 
            comparing object references. But in most cases we want to make comparison based on one or more properties in the object. To do that we need to start by creating 
            <Highlight>EqualityComparer&lt;T&gt;</Highlight> class.
        </p>

        <ol>
            <li>Create a <Highlight>ProductComparer</Highlight> class that inherits from <Highlight>EqualityComparer&lt;Product&gt;</Highlight> class.</li>
            <li>Override <Highlight>Equals(Product 1, Product 2) method.</Highlight></li>
            <li>Write the conditions to check equality and return true if both matches.</li>
            <li>Also override <Highlight>GetHashCode()</Highlight> method and return unique value for every single object.</li>
        </ol>

        <CodeSnippet CssClass="language-csharp">
public class ProductComparer : EqualityComparer&lt;Product&gt;
{
    public override bool Equals(Product? product, Product? anotherProduct)
    {
        return (product?.Id == anotherProduct?.Id &amp;&amp;
                product?.Name == anotherProduct?.Name &amp;&amp;
                product?.Price == anotherProduct?.Price &amp;&amp;
                product?.Color == anotherProduct?.Color &amp;&amp;
                product?.Size == anotherProduct?.Size);
    }

    public override int GetHashCode([DisallowNull] Product product)
    {
        return $"{product.Id}{product.Name}{product.Price}{product.Color}{product.Size}".GetHashCode();
    }
}
        </CodeSnippet>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Product&gt; anotherProducts = GetProducts();
ProductComparer productComparer = new();

//Method Syntax
bool result = products
              .SequenceEqual(anotherProducts, productComparer);
                    
//Query Syntax
bool result = (from product in products select product)
              .SequenceEqual(anotherProducts, productComparer);
        </CodeSnippet>

        <DemoSnippet Title="LINQ SequenceEqual Clause with Comparer Demo">
            <p>
                Let's try LINQ SequenceEqual with Comparer
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>The tables are loaded with two product collection.</li>
                <li>Click on Sequence Equal Button to view the result.</li>
                <li>Unlike previous demo, here we use <Highlight>ProductComparer</Highlight> to compare objects based on their property values. So they will be equal irrespective of reference.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <SequenceEqualWithComparerDemo></SequenceEqualWithComparerDemo>
        </DemoSnippet>

        

        <h3 id="summary">Summary</h3>

        <p>
            In this article we learn't how to check for equality in data between collections using <Highlight>SequenceEqual</Highlight>. This can be used to 
            find if item is between collection matches or not and also we can compare object item using Comparer. All these can be used with any <Highlight>IEnumerable</Highlight> or 
            <Highlight>IQueryable</Highlight> types.
        </p>
    </ContentBody>
</Content>