@inherits ThumbnailBase
@using Humanizer

<NavLink href="@ContentUrl">
    <section class="[ flex flex-col items-start ] [ border border-2 ] [ hover:border-0 ]">
        <header class="[ self-stretch ]">
            <figure>
                <img src="@PosterUrl" class="[ w-full ]" alt="@AltText" loading="lazy" />
            </figure>
        </header>
        <main class="[ flex ]">
            <aside>
                <figure class="[ mt-2 mr-2 ]">
                    <img src="@IconUrl" alt="@IconAlt" loading="lazy" height="48" width="48" class="[ rounded-full ]" />
                </figure>
            </aside>
            <article class="[ dark:text-white ] [ mt-2 ]">
                <h2 class="[ font-medium break-words ]">@Title</h2>
                <section class="[ flex justify-between ]">
                    <p>@Author</p>
                    <time datetime="@LastUpdatedOn.ToString("yyyy-MM-dd HH-mm-ss")">@LastUpdatedOn.Humanize()</time>
                </section>
            </article>
        </main>
    </section>
</NavLink>