@inherits ThumbnailBase
@using Humanizer

<NavLink href="@ContentUrl">
    <section class="[ flex flex-col items-start ]">
        <header class="[ self-stretch ]">
            <figure>
                <img src="@PosterUrl" class="[ w-full ]" alt="@AltText" loading="lazy" />
            </figure>
        </header>
        <main class="[ flex ]">
            <aside>
                <figure class="[ mt-2 mr-2 ]">
                    <img src="@IconUrl" alt="@IconAlt" loading="lazy" height="48" width="48" class="[ rounded-full ]" />
                </figure>
            </aside>
            <article class="[ dark:text-white ] [ mt-2 ]">
                <h2 class="[ font-medium break-words ]">@Title</h2>
                <section class="[ flex justify-between ]">
                    <p>@EstimatedTimeToRead.ToString("HH:mm")</p>
                    <p>@CreatedOn.Humanize()</p>
                </section>
            </article>
        </main>
    </section>
</NavLink>