@inherits ThumbnailBase
@using Humanizer

<NavLink href="@ContentUrl">
    <section class="[ flex flex-col justify-between ] [ h-full ]">
        <header>
            <figure>
                <img src="@PosterUrl" class="[ w-full ]" alt="@AltText" loading="lazy" />
            </figure>
        </header>
        <main class="[ grow flex ]">
            <aside>
                <figure class="[ mt-2 mr-2 ]">
                    <img src="@IconUrl" alt="@IconAlt" loading="lazy" height="48" width="48" class="[ rounded-full ]" />
                </figure>
            </aside>
            <article class="[ grow flex flex-col justify-between ] [ dark:text-white ] [ mt-2 ]">
                <h2 class="[ font-medium break-words ]">@Title</h2>
                <section class="[ flex justify-between ]">
                    <p>@Author</p>
                    <time datetime="@CreatedOn.ToString("yyyy-MM-dd HH-mm-ss")">@CreatedOn.Humanize()</time>
                </section>
            </article>
        </main>
    </section>
</NavLink>