@inherits ThumbnailBase

<section class="[ flex flex-col items-start ]">
    <header class="[ self-stretch ]">
        <figure>
            <img src="@Url" class="[ w-full ]" alt="@AltText" />
        </figure>
    </header>
    <main class="[ flex ]">
        <aside>
            <figure class="[ mt-2 mr-2 ]">
                <img src="@Icon" alt="@IconAlt" />
            </figure>
        </aside>
        <article class="[ dark:text-white ]">
            <h2>@Title</h2>
            <section class="[ flex justify-between ]">
                <p>@EstimatedTimeToRead.ToString("HH:mm")</p>
                <p>@CreatedOn.ToString("dd MMM yyyy")</p>
            </section>
        </article>
    </main>
</section>