@using Humanizer
@inject IConfiguration configuration

<header class="[ space-y-2 ]">
    @if (!string.IsNullOrWhiteSpace(VideoUrl))
    {
        <div style="position: relative;width: 100%;height: 0;padding-bottom: 56.25%;">
            <iframe src="@($"{VideoUrl}?autoplay=1")" title="YouTube video player"
                    style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
    }
    else
    {
        <figure>
            <img src="@($"image/{PosterPath.ToLower()}/{Slug}.webp")" alt="@Title" class="[ w-full ]" loading="lazy" />
        </figure>   
    }
    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">@Title</h2>
    <section class="[ flex flex-col md:flex-row justify-between ] [ space-y-1 md:space-y-0 ] [ dark:text-white ] [ font-bold ]">
        <div>
            <p>Authors - <NavLink href="authors/abdul-rahman" class="[ underline ]" Match="NavLinkMatch.All">Abdul Rahman (Content Writer)</NavLink>, <NavLink href="authors/regina-sharon" class="[ underline ]" Match="NavLinkMatch.All">Regina Sharon (Graphic Designer)</NavLink></p>
            <time datetime="@ModifiedOn.ToString("yyyy-MM-dd HH:mm:ss")">Last updated @ModifiedOn.Humanize()</time>
        </div>
        <div>
            <SocialShare Title="@Title" Url="@($"{BaseUrl}blogs/{Slug}/")"></SocialShare>
        </div>
    </section>
    <section class="[ flex items-center justify-between ]">
        <NavLink href="@($"channels/{ChannelIconName.ToLower()}")" class="[ flex ]">
            <aside>
                <figure class="[ mt-2 mr-2 ]">
                    <img src="@($"/image/icons/{ChannelIconName}.webp")" alt="@ChannelIconName" loading="lazy" height="48" width="48" class="[ rounded-full ]" />
                </figure>
            </aside>
            <article class="[ flex flex-col justify-between ] [ dark:text-white ] [ mt-2 ]">
                <h2 class="[ font-medium break-words ] [ uppercase ]">@ChannelIconName.Replace("-", " ")</h2>
                <section class="[ flex justify-between ]">
                    <p>@TotalContents Articles</p>
                </section>
            </article>
        </NavLink>
        <NavLink href="@($"https://github.com/ILoveDotNet/ilovedotnet/blob/main/{Type}DemoComponents/Pages/Blogs/{FileName}.razor")" target="_blank" class="[ md:bg-red-700 ] [ text-red-500 md:text-white uppercase ] [ px-3 py-2 ] [ font-semibold ]">Improve</NavLink>
    </section>
    <hr class="[ dark:text-white my-1.5 ]" />
</header>


@code {
    private string BaseUrl => configuration.GetValue<string>("baseUrl")!;

    [Parameter, EditorRequired] public string Title { get; set; } = default!;
    [Parameter, EditorRequired] public DateTime ModifiedOn { get; set; }
    [Parameter, EditorRequired] public string Slug { get; set; } = default!;
    [Parameter, EditorRequired] public string PosterPath { get; set; } = default!;
    [Parameter, EditorRequired] public string ChannelIconName { get; set; } = default!;
    [Parameter, EditorRequired] public ushort TotalContents { get; set; } = default!;
    [Parameter, EditorRequired] public string FileName { get; set; } = default!;
    [Parameter, EditorRequired] public string Type { get; set; } = default!;
    [Parameter, EditorRequired] public string? VideoUrl { get; set; }
}
