@using Humanizer
@inject AdSpaceService adSpaceService
@inject NavigationManager navigationManager
@inject SlugService slugService
@inject TableOfContents tableOfContents

<aside class="[ flex flex-col lg:basis-1/4 ] [ space-y-2 ]">
    <div>
        <figure>
            <a href="https://linkedin.com/in/thebhai" target="_blank"><img src="./image/authors/abdul rahman.webp" alt="Abdul Rahman" class="[ w-full ]" /></a>
            <a href="https://mvp.microsoft.com/en-US/MVP/profile/b177819f-95fb-ed11-8f6d-000d3a560942" target="_blank"><img src="./image/authors/mvp-badge-horizontal.png" alt="MVP Badge Horizontal" class="[ w-full ]" /></a>
        </figure>
    </div>
    <div class="[ lg:sticky lg:top-14 ]">
        <GoogleAdSense Type="GoogleAdSenseAdType.InFeed" Format="GoogleAdSenseAdFormat.Fluid" LayoutKey="-7m+de+1z+n+3" Slot="2741354693"></GoogleAdSense>
    </div>
    @foreach (var (content, index) in Contents.SelectWithIndex())
    {
        @if (adSpaceService.CanDisplayAd(index + 1))
        {
            <GoogleAdSense Type="GoogleAdSenseAdType.InFeed" Format="GoogleAdSenseAdFormat.Fluid" LayoutKey="-7m+de+1z+n+3" Slot="2741354693"></GoogleAdSense>
        }

        <Thumbnail @key="@index" PosterUrl="@content.ThumbnailUrl" 
                ContentUrl="@content.ContentUrl"
                Title="@content.Title"
                AltText="@content.Title"
                IconUrl="@content.IconUrl"
                IconAlt="@content.Channel"
                CreatedOn="@content.ModifiedOn"
                Author="@content.Author">
        </Thumbnail>    
    }
    <div class="[ flex items-center justify-center ]">
        <button type="button" 
                class="[ cursor-pointer ] [ px-3 py-1 ] [ rounded-md ] [ whitespace-nowrap ] [ flex items-center justify-center ] [ disabled:opacity-75 disabled:cursor-not-allowed ]"
                @onclick="ShowMoreContents"
                disabled="@(Take >= tableOfContents.Contents.Count - 1)">
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-caret-down ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 10l6 6l6 -6h-12"></path>
            </svg>
            <p>Show more</p>
        </button>
    </div>
    <GoogleAdSense Type="GoogleAdSenseAdType.InFeed" Format="GoogleAdSenseAdFormat.Fluid" LayoutKey="-7m+de+1z+n+3" Slot="2741354693"></GoogleAdSense>
</aside>

@code {
    private string? slug;
    private IEnumerable<ContentMetaData> Contents = Enumerable.Empty<ContentMetaData>();
    private int Count = 1;
    private int Take => TableOfContents.PageSize * Count;

    protected override void OnInitialized()
    {
        slug = slugService.GetSlug();
        Contents = tableOfContents.ExceptAndPagedContents(slug);
    }

    private void ShowMoreContents()
    {
        Count++;
        Contents = tableOfContents.ExceptAndPagedContents(slug!, 0, Take);
    }
}