@using Humanizer
@inject IConfiguration configuration
@inject SlugService slugService
@inject TableOfContents tableOfContents

<header class="[ space-y-2 ]">
    @if (!string.IsNullOrWhiteSpace(contentMetaData!.VideoUrl))
    {
        <div style="position: relative;width: 100%;height: 0;padding-bottom: 56.25%;">
            <iframe src="@($"{contentMetaData.VideoUrl}?autoplay=1")" title="YouTube video player"
                    style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
    }
    else
    {
        <figure>
            <img src="@($"{contentMetaData.PosterUrl.ToLower().Replace("webp", "png")}")" alt="@contentMetaData.Title" class="[ w-full ]" loading="lazy" />
        </figure>   
    }
    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">@contentMetaData.Title</h2>
    <section class="[ flex flex-col md:flex-row justify-between ] [ space-y-1 md:space-y-0 ] [ dark:text-white ] [ font-bold ]">
        <div>
            <p>Authors - <NavLink href="authors/abdul-rahman" class="[ underline ]" Match="NavLinkMatch.All">Abdul Rahman (Content Writer)</NavLink>, <NavLink href="authors/regina-sharon" class="[ underline ]" Match="NavLinkMatch.All">Regina Sharon (Graphic Designer)</NavLink></p>
            <time datetime="@contentMetaData.ModifiedOn.ToString("yyyy-MM-dd HH:mm:ss")">Last updated @contentMetaData.ModifiedOn.Humanize()</time>
        </div>
        <div>
            <SocialShare Title="@contentMetaData.Title" Url="@($"{BaseUrl}blogs/{slug}/")"></SocialShare>
        </div>
    </section>
    <section class="[ flex items-center justify-between ]">
        <NavLink href="@($"channels/{contentMetaData.Channel.ToLower()}")" class="[ flex ]">
            <aside>
                <figure class="[ mt-2 mr-2 ]">
                    <img src="@($"/image/icons/{contentMetaData.Channel}.webp")" alt="@contentMetaData.Channel" loading="lazy" height="48" width="48" class="[ rounded-full ]" />
                </figure>
            </aside>
            <article class="[ flex flex-col justify-between ] [ dark:text-white ] [ mt-2 ]">
                <h2 class="[ font-medium break-words ] [ uppercase ]">@contentMetaData.Channel.Replace("-", " ")</h2>
                <section class="[ flex justify-between ]">
                    <p>@tableOfContents.GetTotalContentsCountBySlug(slug!) Articles</p>
                </section>
            </article>
        </NavLink>
        <NavLink href="@($"https://github.com/ILoveDotNet/ilovedotnet/blob/main/{contentMetaData.Channel.Replace("-", string.Empty)}DemoComponents/Pages/Blogs/{FileName}.razor")" target="_blank" class="[ md:bg-red-700 ] [ text-red-500 md:text-white uppercase ] [ px-3 py-2 ] [ font-semibold ]">Improve</NavLink>
    </section>
    <hr class="[ dark:text-white my-1.5 ]" />
</header>


@code {
    private string? slug;
    private ContentMetaData? contentMetaData = default!;
    private string BaseUrl => configuration.GetValue<string>("baseUrl")!;

    [Parameter, EditorRequired] public string FileName { get; set; } = default!;

    override protected void OnInitialized()
    {
        slug = slugService.GetSlug();
        contentMetaData = tableOfContents.GetContentBySlug(slug);
    }
}
