@page "/about"
@using Toolbelt.Blazor.HeadElement
@inject IConfiguration configuration
@inject Sitemaps sitemap

<Title>@Title</Title>
<Meta Property="description" Content="@Description" />
<Meta Property="keywords" Content=".NET, DotNet, I Love DotNet, I ❤️ DotNet, Blazor, Blazor (WebAssembly), Blazor Wasm, C#, Entity Framework, LINQ, ML.NET, Web API, TDD, OOPS, Middleware, JWT, Dependency Injection, Report, Design Pattern, SOLID" />
<Meta Property="url" Content="@BaseUrl" />
<Meta Property="identifier-URL" Content="@BaseUrl" />
<Meta Property="og:site_name" Content="@Title" />
<Meta Property="og:type" Content="website" />
<Meta Property="og:title" Content="@Title" />
<Meta Property="og:image" Content="@($"{BaseUrl}image/brand/mini-logo.png")" />
<Meta Property="og:image:alt" Content="DotNet bot with heart and DotNet brand" />
<Meta Property="og:description" Content="@Description" />
<Meta Property="og:url" Content="@BaseUrl" />
<Meta Property="twitter:card" Content="summary" />
<Meta Property="twitter:title" Content="@Title" />
<Meta Property="twitter:image" Content="@($"{BaseUrl}image/brand/mini-logo.png")" />
<Meta Property="twitter:image:alt" Content="DotNet bot with heart and DotNet brand" />
<Meta Property="twitter:description" Content="@Description" />
<Meta Property="twitter:url" Content="@BaseUrl" />
@foreach (var sitemap in sitemap.Files)
{
    <Link Rel="sitemap" Href="@($"{BaseUrl}{sitemap}")" type="application/xml" title="Sitemap" />
}
<Link Rel="alternate" Href="@($"{BaseUrl}atom.xml")" type="application/rss+xml" />
<Link Rel="alternate" Href="@BaseUrl" hreflang="en" />
<Link Rel="alternate" Href="@BaseUrl" hreflang="x-default" />
<Link Rel="canonical" Href="@BaseUrl" />
<Link Rel="index" Href="@BaseUrl" title="@Title" />
<HeadContent>
    @(new MarkupString(
    $$""""
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "publisher": {
                "@type": "Organization",
                "name": "{{Title}}",
                "url": "{{BaseUrl}}",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{BaseUrl}}favicon.ico",
                    "width": 16,
                    "height": 16
                }
            },
            "url": "{{BaseUrl}}",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{BaseUrl}}"
            },
            "description": "{{Description}}"
        }
        </script>
        """"
        ))
</HeadContent>

<section class="[ dark:bg-stone-900 ] [ flex flex-col ] [ space-y-5 ] [ p-5 ]">

    <StarAndShareRequest></StarAndShareRequest>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">About I ❤️ .NET</h2>

    <p>
        This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love using .NET. The goal is to make sure this learning platform helps developers 
        to up and run .NET easily in their projects. This platform will cover minimal knowledge, steps, content needed to start with .NET stack.
    </p>

    <figure>
        <img src="./image/brand/banner.png" alt="I Love .NET Banner" class="[ w-full ]" />
    </figure>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Road Map</h2>

    <ol class="[ list-decimal ] [ ml-4 ]">
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/2">Blazor WASM</a></li>
        <li>
            <div class="[ flex items-center space-x-1 ]">
                <a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/6">LINQ</a>
                <span class="[ bg-red-600 ] [ text-white uppercase text-xs ] [ rounded-full ] [ px-2 py-1 ]">Closed</span>
            </div>
        </li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/4">Entity Framework</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/5">C#</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/3">ML.NET</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/8">WEB API</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/7">DSA</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/9">Design Patterns</a></li>
        <li>
            <div class="[ flex items-center space-x-1 ]">
                <a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/10">TDD</a>
                <span class="[ bg-red-600 ] [ text-white uppercase text-xs ] [ rounded-full ] [ px-2 py-1 ]">Closed</span>
            </div>
        </li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/11">String Builder</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/12">Regex</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/13">OOPS</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/14">Expression Trees</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/15">Swagger</a></li>
        <li>
            <div class="[ flex items-center space-x-1 ]">
                <a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/16">Middlewares</a>
                <span class="[ bg-red-600 ] [ text-white uppercase text-xs ] [ rounded-full ] [ px-2 py-1 ]">Closed</span>
            </div>
        </li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/17">JWT</a></li>
        <li>
            <div class="[ flex items-center space-x-1 ]">
                <a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/18">Dependency Injection</a>
                <span class="[ bg-red-600 ] [ text-white uppercase text-xs ] [ rounded-full ] [ px-2 py-1 ]">Closed</span>
            </div>
        </li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/20">Minimal API</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/21">CLI</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/22">HTTP Client</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/23">Report</a></li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/24">Concurrency</a></li>
        <li>
            <div class="[ flex items-center space-x-1 ]">
                <a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/25">SOLID</a>
                <span class="[ bg-red-600 ] [ text-white uppercase text-xs ] [ rounded-full ] [ px-2 py-1 ]">Closed</span>
            </div>
        </li>
        <li><a class="[ underline ]" href="https://github.com/orgs/ILoveDotNet/projects/26">Background Services</a></li>
    </ol>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Please help by giving a star</h2>

    <p>
        Choosing a project idea could be difficult. We need to ensure stability and maintainability of our projects. Surveys show that GitHub stars count play an important factor when 
        assessing quality.
    </p>

    <p>
        ⭐ Please give this repository a star. It takes seconds and help thousands of developers! ⭐
    </p>

    <a href="https://github.com/ILoveDotNet/ilovedotnet">
        <figure>
            <img src="./image/brand/star-request.png" alt="I Love .NET Star Request" class="[ w-full ]" />
        </figure>
    </a>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Please share with the community</h2>

    <p>
        As an open-source project without funding, I cannot afford advertising I ❤️ .NET in a typical way. Instead, the project relies on community interactions. Please consider 
        sharing a post about I ❤️ .NET and the value it provides. It really does help!
    </p>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Our Official Network</h2>

    <section class="[ flex flex-col md:flex-row ] [ space-x-1 ]">
        <a href="https://ilovedotnet.org" class="[ flex items-center space-x-1 ]">
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-world-www ] [ text-violet-500 ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M19.5 7a8.998 8.998 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4"></path>
                <path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4"></path>
                <path d="M12.5 3a16.989 16.989 0 0 1 1.828 4.004"></path>
                <path d="M19.5 17a8.998 8.998 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4"></path>
                <path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4"></path>
                <path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4.004"></path>
                <path d="M2 10l1 4l1.5 -4l1.5 4l1 -4"></path>
                <path d="M17 10l1 4l1.5 -4l1.5 4l1 -4"></path>
                <path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4"></path>
            </svg>
            <span>Website</span>
        </a>
        <a href="https://youtube.com/@@ilovedotnet" class="[ flex items-center space-x-1 ]">
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-brand-youtube ] [ text-red-500 ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="3" y="5" width="18" height="14" rx="4"></rect>
                <path d="M10 9l5 3l-5 3z"></path>
            </svg>
            <span>YouTube</span>
        </a>
        <a href="https://www.linkedin.com/groups/9083706/" class="[ flex items-center space-x-1 ]">
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-brand-linkedin ] [ text-blue-500 ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="8" y1="11" x2="8" y2="16"></line>
                <line x1="8" y1="8" x2="8" y2="8.01"></line>
                <line x1="12" y1="16" x2="12" y2="11"></line>
                <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
            </svg>
            <span>LinkedIn</span>
        </a>
        <a href="https://instagram.com/ilovedotnet/" class="[ flex items-center space-x-1 ]">
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-brand-instagram ] [ text-fuchsia-500 ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="4"></rect>
                <circle cx="12" cy="12" r="3"></circle>
                <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
            </svg>
            <span>Instagram</span>
        </a>
        <a href="https://github.com/ILoveDotNet/ilovedotnet" class="[ flex items-center space-x-1 ]">
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-brand-github ] [ text-black ] [ dark:text-white ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
            </svg>
            <p>GitHub</p>
        </a>
    </section>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Contribution Guidelines</h2>

    <ol class="[ list-decimal ] [ ml-4 ]">
        <li>You can contribute for any of the channels mentioned in road map. If the channel you wish to contribute is not available then you can add channel to road map and contribute.</li>
        <li>In any channel make sure the topic you wish to cover doesn't exists already. If it exists already please review the content and try to update it.</li>
        <li>If the channel is closed and you wish to add new content the please raise an PR with the content and we will review it.</li>
        <li>A live working demo would be preferred in all content.</li>
        <li>Try to keep content simple and short.</li>
        <li>Any ideas to improve content are welcome.</li>
    </ol>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Developed By</h2>

    <p>Abdul Rahman Shabeek Mohamed</p>

    <p>A Bhai's Build (#AR02)</p>

    <section class="[ flex ] [ space-x-1 ]">
        <a href="https://linkedin.com/in/fingers10">
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-brand-linkedin ] [ text-blue-500 ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="8" y1="11" x2="8" y2="16"></line>
                <line x1="8" y1="8" x2="8" y2="8.01"></line>
                <line x1="12" y1="16" x2="12" y2="11"></line>
                <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
            </svg>
        </a>
        <a href="https://stackoverflow.com/users/10851213/fingers10">
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-brand-stackoverflow ] [ text-yellow-500 ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 17v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-1"></path>
                <path d="M8 16h8"></path>
                <path d="M8.322 12.582l7.956 .836"></path>
                <path d="M8.787 9.168l7.826 1.664"></path>
                <path d="M10.096 5.764l7.608 2.472"></path>
            </svg>
        </a>
        <a href="https://github.com/fingers10">
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-brand-github ] [ text-black ] [ dark:text-white ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
            </svg>
        </a>
        <a href="https://instagram.com/abdulrahman.smsi/">
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-brand-instagram ] [ text-fuchsia-500 ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="4"></rect>
                <circle cx="12" cy="12" r="3"></circle>
                <line x1="16.5" y1="7.5" x2="16.5" y2="7.501"></line>
            </svg>
        </a>
    </section>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Powered By</h2>

    <p>.NET 7.0.0</p>

    <NavigationLock ConfirmExternalNavigation></NavigationLock>

</section>

@code {
    private string Title = "About - I ❤️ DotNet";
    private string Description = "This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love.";
    private string BaseUrl => configuration.GetValue<string>("baseUrl")!;
}
