@page "/disclaimer"
@using Toolbelt.Blazor.HeadElement
@inject IConfiguration configuration
@inject Sitemaps sitemap

<Title>@Title</Title>
<Meta Property="description" Content="@Description" />
<Meta Property="keywords" Content=".NET, DotNet, I Love DotNet, I ❤️ DotNet, Blazor, Blazor (WebAssembly), Blazor Wasm, C#, Entity Framework, LINQ, ML.NET, Web API, TDD, OOPS, Middleware, JWT, Dependency Injection" />
<Meta Property="url" Content="@BaseUrl" />
<Meta Property="identifier-URL" Content="@BaseUrl" />
<Meta Property="og:site_name" Content="@Title" />
<Meta Property="og:type" Content="website" />
<Meta Property="og:title" Content="@Title" />
<Meta Property="og:image" Content="@($"{BaseUrl}image/brand/mini-logo.png")" />
<Meta Property="og:image:alt" Content="DotNet bot with heart and DotNet brand" />
<Meta Property="og:description" Content="@Description" />
<Meta Property="og:url" Content="@BaseUrl" />
<Meta Property="twitter:card" Content="summary" />
<Meta Property="twitter:title" Content="@Title" />
<Meta Property="twitter:image" Content="@($"{BaseUrl}image/brand/mini-logo.png")" />
<Meta Property="twitter:image:alt" Content="DotNet bot with heart and DotNet brand" />
<Meta Property="twitter:description" Content="@Description" />
<Meta Property="twitter:url" Content="@BaseUrl" />
@foreach(var sitemap in sitemap.Files)
{
    <Link Rel="sitemap" Href="@($"{BaseUrl}{sitemap}")" type="application/xml" title="Sitemap" />   
}
<Link Rel="alternate" Href="@($"{BaseUrl}atom.xml")" type="application/rss+xml" />
<Link Rel="alternate" Href="@BaseUrl" hreflang="en" />
<Link Rel="alternate" Href="@BaseUrl" hreflang="x-default" />
<Link Rel="canonical" Href="@BaseUrl" />
<Link Rel="index" Href="@BaseUrl" title="@Title" />
<HeadContent>
    @(new MarkupString(
    $@"<script type=""application/ld+json"">
    {{
        ""@context"": ""https://schema.org"",
        ""@type"": ""WebSite"",
        ""publisher"": {{
            ""@type"": ""Organization"",
            ""name"": ""{Title}"",
            ""url"": ""{BaseUrl}"",
            ""logo"": {{
                ""@type"": ""ImageObject"",
                ""url"": ""{BaseUrl}favicon.ico"",
                ""width"": 16,
                ""height"": 16
            }}
        }},
        ""url"": ""{BaseUrl}"",
        ""mainEntityOfPage"": {{
            ""@type"": ""WebPage"",
            ""@id"": ""{BaseUrl}""
        }},
        ""description"": ""{Description}""
    }}
    </script>"))
</HeadContent>

<section class="[ dark:bg-stone-900 ] [ flex flex-col ] [ space-y-5 ] [ p-5 ]">
    <p>
        If you require any more information or have any questions about our site’s disclaimer, please feel free to 
        <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-brand-linkedin ] [ text-blue-500 ] [ inline ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <rect x="4" y="4" width="16" height="16" rx="2"></rect>
            <line x1="8" y1="11" x2="8" y2="16"></line>
            <line x1="8" y1="8" x2="8" y2="8.01"></line>
            <line x1="12" y1="16" x2="12" y2="11"></line>
            <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
        </svg>
        <a href="https://www.linkedin.com/in/fingers10" class="[ underline ]">Contact Us</a>.
    </p>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Disclaimers for I ❤️ .Net</h2>

    <p>
        All the information on this website – <a class="[ underline ]" href="https://ilovedotnet.org">https://ilovedotnet.org</a> – is 
        published in good faith and for general information purpose only. ilovedotnet does not make any warranties about the completeness, reliability 
        and accuracy of this information. Any action you take upon the information you find on this website (ilovedotnet), is strictly at your own 
        risk. ilovedotnet will not be liable for any losses and/or damages in connection with the use of our website.
    </p>

    <p>
        From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links 
        to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a 
        recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the 
        opportunity to remove a link which may have gone ‘bad’.
    </p>

    <p>
        Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. 
        Please be sure to check the Privacy Policies of these sites as well as their “Terms of Service” before engaging in any business or uploading 
        any information.
    </p>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Consent</h2>

    <p>
        By using our website, you hereby consent to our disclaimer and agree to its terms.
    </p>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Update</h2>

    <p>
        Should we update, amend or make any changes to this document, those changes will be prominently posted here.
    </p>
</section>

@code {
    private string Title = "Disclaimer - I ❤️ DotNet";
    private string Description = "This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love.";
    private string BaseUrl => configuration.GetValue<string>("baseUrl");
}