@page "/"
@inject NavigationManager NavigationManager

<HeadContent>
    <meta name="description" content="This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love">
    <meta name="keywords" content=".NET, DotNet, I Love DotNet, I ❤️ DotNet, Blazor Wasm, C#, Entity Framework Core, LINQ">
    <meta name="url" content="@(NavigationManager.BaseUri)">
    <meta name="identifier-URL" content="@(NavigationManager.BaseUri)">
    <meta property="og:site_name" content="I Love DotNet" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="I ❤️ DotNet" />
    <meta property="og:description" content="This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love" />
    <meta property="og:url" content="@(NavigationManager.BaseUri)" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="I ❤️ DotNet" />
    <meta name="twitter:description" content="This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love" />
    <meta name="twitter:url" content="@(NavigationManager.BaseUri)" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="@(NavigationManager.BaseUri)sitemap.xml" />
    <link rel="alternate" type="application/rss+xml" href="@(NavigationManager.BaseUri)atom.xml">
    <link rel="alternate" href="@(NavigationManager.BaseUri)" hreflang="en" />
    <link rel="alternate" href="@(NavigationManager.BaseUri)" hreflang="x-default" />
    <link rel="canonical" href="@(NavigationManager.BaseUri)" />
    <link rel="index" title="I Love DotNet" href="@(NavigationManager.BaseUri)" />
    @(new MarkupString(
    $@"<script type=""application/ld+json"">
    {{
        ""@context"": ""https://schema.org"",
        ""@type"": ""WebSite"",
        ""publisher"": {{
            ""@type"": ""Organization"",
            ""name"": ""I Love DotNet"",
            ""url"": ""{NavigationManager.BaseUri}"",
            ""logo"": {{
                ""@type"": ""ImageObject"",
                ""url"": ""{NavigationManager.BaseUri}favicon.ico"",
                ""width"": 16,
                ""height"": 16
            }}
        }},
        ""url"": ""{NavigationManager.BaseUri}"",
        ""mainEntityOfPage"": {{
            ""@type"": ""WebPage"",
            ""@id"": ""{NavigationManager.BaseUri}""
        }},
        ""description"": ""This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love""
    }}
    </script>"))
</HeadContent>

<section class="[ dark:bg-black ] [ flex flex-col space-y-5 ] [ p-5 ]">
    <div class="[ grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 ]">
        <Thumbnail PosterUrl="image/blogs/blazor/wasm/blazor-wasm-exception-handling-and-error-boundary-400w.png" 
                   ContentUrl="@($"{NavigationManager.BaseUri}blogs/blazor-wasm-exception-handling-and-error-boundary")"
                   Title="Blazor wasm exception handling and error boundary"
                   AltText="Blazor wasm exception handling and error boundary"
                   IconUrl="image/icons/blazor.png"
                   IconAlt="Blazor"
                   LastUpdatedOn="@(new DateTime(2022,1,16,22,30,0))"
                   Author="Abdul Rahman">
        </Thumbnail>
    </div>
</section>