@page "/"

<HeadContent>
    <meta name="description" content="This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love">
    <meta name="keywords" content=".NET, DotNet, I Love DotNet, I ❤️ DotNet, Blazor, Blazor (WebAssembly), Blazor Wasm, C#, Entity Framework Core, LINQ">
    <meta name="url" content="https://www.ilovedotnet.org/">
    <meta name="identifier-URL" content="https://www.ilovedotnet.org/">
    <meta property="og:site_name" content="I Love DotNet" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="I ❤️ DotNet" />
    <meta property="og:description" content="This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love" />
    <meta property="og:url" content="https://www.ilovedotnet.org/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="I ❤️ DotNet" />
    <meta name="twitter:description" content="This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love" />
    <meta name="twitter:url" content="https://www.ilovedotnet.org/" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="https://www.ilovedotnet.org/sitemap.xml" />
    <link rel="alternate" type="application/rss+xml" href="https://www.ilovedotnet.org/atom.xml">
    <link rel="alternate" href="https://www.ilovedotnet.org/" hreflang="en" />
    <link rel="alternate" href="https://www.ilovedotnet.org/" hreflang="x-default" />
    <link rel="canonical" href="https://www.ilovedotnet.org/" />
    <link rel="index" title="I Love DotNet" href="https://www.ilovedotnet.org/" />
    @(new MarkupString(
    $@"<script type=""application/ld+json"">
    {{
        ""@context"": ""https://schema.org"",
        ""@type"": ""WebSite"",
        ""publisher"": {{
            ""@type"": ""Organization"",
            ""name"": ""I Love DotNet"",
            ""url"": ""https://www.ilovedotnet.org/"",
            ""logo"": {{
                ""@type"": ""ImageObject"",
                ""url"": ""https://www.ilovedotnet.org/favicon.ico"",
                ""width"": 16,
                ""height"": 16
            }}
        }},
        ""url"": ""https://www.ilovedotnet.org/"",
        ""mainEntityOfPage"": {{
            ""@type"": ""WebPage"",
            ""@id"": ""https://www.ilovedotnet.org/""
        }},
        ""description"": ""This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love""
    }}
    </script>"))
</HeadContent>

<section class="[ dark:bg-black ] [ flex flex-col ] [ space-y-5 ] [ p-5 ]">
    <div class="[ grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 ]">
        <Thumbnail PosterUrl="image/blogs/blazor/wasm/blazor-wasm-error-logging-400w.png" 
                   ContentUrl="blogs/blazor-wasm-error-logging"
                   Title="Blazor WASM Error Logging"
                   AltText="Blazor WASM Error Logging"
                   IconUrl="image/icons/blazor.png"
                   IconAlt="Blazor"
                   CreatedOn="@(new DateTime(2022,1,23,22,30,0))"
                   Author="Abdul Rahman">
        </Thumbnail>
        <Thumbnail PosterUrl="image/blogs/blazor/wasm/blazor-wasm-exception-handling-and-error-boundary-400w.png" 
                   ContentUrl="blogs/blazor-wasm-exception-handling-and-error-boundary"
                   Title="Blazor WASM Exception Handling and Error Boundary"
                   AltText="Blazor WASM Exception Handling and Error Boundary"
                   IconUrl="image/icons/blazor.png"
                   IconAlt="Blazor"
                   CreatedOn="@(new DateTime(2022,1,16,22,30,0))"
                   Author="Abdul Rahman">
        </Thumbnail>
    </div>
</section>