@page "/privacy"
@using Toolbelt.Blazor.HeadElement
@inject IConfiguration configuration
@inject Sitemaps sitemap

<Title>@Title</Title>
<Meta Property="description" Content="@Description" />
<Meta Property="keywords" Content=".NET, DotNet, I Love DotNet, I ❤️ DotNet, Blazor, Blazor (WebAssembly), Blazor Wasm, C#, Entity Framework, LINQ, ML.NET, Web API, TDD, OOPS, Middleware, JWT, Dependency Injection, Report, Design Pattern" />
<Meta Property="url" Content="@BaseUrl" />
<Meta Property="identifier-URL" Content="@BaseUrl" />
<Meta Property="og:site_name" Content="@Title" />
<Meta Property="og:type" Content="website" />
<Meta Property="og:title" Content="@Title" />
<Meta Property="og:image" Content="@($"{BaseUrl}image/brand/mini-logo.png")" />
<Meta Property="og:image:alt" Content="DotNet bot with heart and DotNet brand" />
<Meta Property="og:description" Content="@Description" />
<Meta Property="og:url" Content="@BaseUrl" />
<Meta Property="twitter:card" Content="summary" />
<Meta Property="twitter:title" Content="@Title" />
<Meta Property="twitter:image" Content="@($"{BaseUrl}image/brand/mini-logo.png")" />
<Meta Property="twitter:image:alt" Content="DotNet bot with heart and DotNet brand" />
<Meta Property="twitter:description" Content="@Description" />
<Meta Property="twitter:url" Content="@BaseUrl" />
@foreach(var sitemap in sitemap.Files)
{
    <Link Rel="sitemap" Href="@($"{BaseUrl}{sitemap}")" type="application/xml" title="Sitemap" />   
}
<Link Rel="alternate" Href="@($"{BaseUrl}atom.xml")" type="application/rss+xml" />
<Link Rel="alternate" Href="@BaseUrl" hreflang="en" />
<Link Rel="alternate" Href="@BaseUrl" hreflang="x-default" />
<Link Rel="canonical" Href="@BaseUrl" />
<Link Rel="index" Href="@BaseUrl" title="@Title" />
<HeadContent>
    @(new MarkupString(
        $$""""
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "publisher": {
                "@type": "Organization",
                "name": "{{Title}}",
                "url": "{{BaseUrl}}",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{BaseUrl}}favicon.ico",
                    "width": 16,
                    "height": 16
                }
            },
            "url": "{{BaseUrl}}",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{BaseUrl}}"
            },
            "description": "{{Description}}"
        }
        </script>
        """"
    ))
</HeadContent>

<section class="[ dark:bg-stone-900 ] [ flex flex-col ] [ space-y-5 ] [ p-5 ]">
    
    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Privacy Policy for I Love DotNet</h2>

    <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-lock ]" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <rect x="5" y="11" width="14" height="10" rx="2"></rect>
        <circle cx="12" cy="16" r="1"></circle>
        <path d="M8 11v-4a4 4 0 0 1 8 0v4"></path>
    </svg>
    
    <time datetime="2022-06-19 22:30:00">Effective date: June 19, 2022</time>
    
    <hr />

    <article class="[ flex flex-col justify-center items-center ] [ space-y-2 ] [ border-2 ] [ pb-2 ]">
        <header class="[ p-5 ] [ bg-white ] [ dark:bg-gray-800 dark:bg-gray-800/80 ] [ w-full ] [ text-center ] [ text-xl ] [ border-0 border-b-2 ]">Consent Status</header>
        <p class="[ bg-yellow-100 ] [ dark:bg-yellow-600 ] [ p-2 ]">Not Acknowledged, Not Consented</p>
        <p class="[ bg-green-100 ] [ dark:bg-green-600 ] [ p-2 ] [ hidden ]">Acknowledged, Opted Out</p>
        <button type="button" class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]">Tap to Consent and Opt-out or Opt-in</button>
    </article>
    
    <p>
        Abdul Rahman Shabeek Mohamed (“us”, “we”, or “our”) operates the I Love DotNet or I ❤️ DotNet or I ❤️ .Net website at 
        <a href="https://ilovedotnet.org" class="[ underline ]" target="_blank">https://ilovedotnet.org</a> (hereinafter referred to as the “Service”).
    </p>

    <p>
        This page informs you of our policies regarding the collection, use and disclosure of personal data when you use our Service and the choices you have 
        associated with that data.
    </p>

    <p>
        We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this 
        policy.
    </p>

    <p>
        <blockquote>
            This Service does not directly collect any personal data. Your choice to opt-in or opt-out will saved to the browser’s local storage. This data is 
            not transmitted and, unlike cookies, is not readable by the server. You can view the consent and change or delete it at any time by navigating to 
            local storage and choosing the consent key or by tapping the button at the on this page. Opting out will disable third-party cookies but also 
            results in a more limited experience. @*For example, online discussions and comments are powered by the third party app Disqus and cannot be accessed 
            without cookies. Twitter integration will also be limited.*@ The remainder of this page outlines the details of our privacy policy and what actions 
            you can take.
        </blockquote>
    </p>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Definitions</h2>

    <ul class="[ list-disc ] [ ml-4 ]">
        <li><strong>Service</strong> is the I Love DotNet https://ilovedotnet.org website operated by Abdul Rahman Shabeek Mohamed</li>
        <li>
            <strong>Personal Data</strong> means data about a living individual who can be identified from those data (or from those and other information 
            either in our possession or likely to come into our possession)
        </li>
        <li>
            <strong>Usage Data</strong> is data collected automatically either generated by the use of the Service or from the Service infrastructure itself 
            (for example, the duration of a page visit)
        </li>
        <li><strong>Cookies</strong> are small files stored on your device (computer or mobile device).</li>
    </ul>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Information Collection and Use</h2>

    <p>
        We collect several different types of information for various purposes to provide and improve our Service to you.
    </p>

    <h3 class="[ dark:text-white ] [ font-semibold text-lg ]">Types of Data Collected</h3>
    
    <h4 class="[ dark:text-white ] [ font-semibold text-md ]">Personal Data</h4>

    <p>
        We do not directly ask for any personally identifiable information as part of this service. Indirectly collected information may include, but is not 
        limited to:
    </p>

    <ul class="[ list-disc ] [ ml-4 ]">
        <li>Cookies and Usage Data</li>
    </ul>

    <h4 class="[ dark:text-white ] [ font-semibold text-md ]">Usage Data</h4>

    <p>
        We may also collect information on how the Service is accessed and used (“Usage Data”). This Usage Data may include information such as your computer’s 
        Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, 
        the time spent on those pages, unique device identifiers and other diagnostic data.
    </p>

    <h4 class="[ dark:text-white ] [ font-semibold text-md ]">Tracking & Cookies Data</h4>

    <p>
        We use cookies and similar tracking technologies to track the activity on our Service and we hold certain information.
    </p>

    <p>
        Cookies are files with a small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and 
        stored on your device. Other tracking technologies are also used such as beacons, tags and scripts to collect and track information and to improve and 
        analyze our Service.
    </p>

    <p>
        You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be 
        able to use some portions of our Service.
    </p>
    
    <p>
        Examples of Cookies we use:
    </p>

    <ul class="[ list-disc ] [ ml-4 ]">
        <li><strong>Advertising Cookies</strong> Advertising Cookies are used to serve you with advertisements that may be relevant to you and your interests.</li>
    </ul>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Use of Data</h2>
    
    <p>
        I Love DotNet uses the collected data for various purposes:
    </p>

    <ul class="[ list-disc ] [ ml-4 ]">
        <li>To provide and maintain our Service</li>
        <li>To gather analysis or valuable information so that we can improve our Service</li>
        <li>To monitor the usage of our Service</li>
        <li>To detect, prevent and address technical issues</li>
    </ul>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Transfer of Data</h2>

    <p>
        Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or 
        other governmental jurisdiction where the data protection laws may differ from those of your jurisdiction.
    </p>

    <p>
        If you are located outside India and choose to provide information to us, please note that we transfer the data, including Personal Data, to 
        India and process it there.
    </p>

    <p>
        Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
    </p>

    <p>
        I Love DotNet will take all the steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy 
        Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including 
        the security of your data and other personal information.
    </p>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Disclosure of Data</h2>

    <h3 class="[ dark:text-white ] [ font-semibold text-lg ]">Legal Requirements</h3>

    <p>
        I Love DotNet may disclose your Personal Data in the good faith belief that such action is necessary to:
    </p>

    <ul class="[ list-disc ] [ ml-4 ]">
        <li>To comply with a legal obligation</li>
        <li>To protect and defend the rights or property of I Love DotNet</li>
        <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
        <li>To protect the personal safety of users of the Service or the public</li>
        <li>To protect against legal liability</li>
    </ul>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Security of Data</h2>

    <p>
        The security of your data is important to us but remember that no method of transmission over the Internet or method of electronic storage is 100% 
        secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.
    </p>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Service Providers</h2>

    <p>
        We may employ third party companies and individuals to facilitate our Service (“Service Providers”), provide the Service on our behalf, perform 
        Service-related services or assist us in analyzing how our Service is used.
    </p>

    <p>
        These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any 
        other purpose.
    </p>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Analytics</h2>

    <p>
        We may use third-party Service Providers to monitor and analyze the use of our Service.
    </p>

    <ul class="[ list-disc ] [ ml-4 ]">
        <li>
            <p>
                <strong>Google Analytics</strong> Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google 
                uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the 
                collected data to contextualize and personalize the ads of its own advertising network.
            </p>

            <p>
                You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser 
                add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js and dc.js) from sharing information with Google Analytics 
                about visits activity.
            </p>

            <p>
                For more information on the privacy practices of Google, please visit the Google 
                <a href="https://policies.google.com/privacy?hl=en" class="[ underline ]" target="_blank">
                    Privacy & Terms web page
                </a>
            </p>
        </li>
        @*<li>
            <p>
                <strong>Disqus</strong> Disqus is a third-party service used to managed comments on the website. Disqus uses data collected to track comments 
                and discussion threads. In some cases, Disqus can be configured to track usage and deliver advertisements. These features have been turned off 
                for our Service.
            </p>

            <p>
                For more information on the privacy practices of Disqus, please visit the Disqus 
                <a href="https://help.disqus.com/en/articles/1717103-disqus-privacy-policy" class="[ underline ]" target="_blank">
                     Privacy Policy web page
                </a>
            </p>
        </li>*@
    </ul>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Advertising</h2>

    <p>
        We may use third-party Service Providers to show advertisements to you to help support and maintain our Service.
    </p>

    <ul class="[ list-disc ] [ ml-4 ]">
        <li>
            <p>
                <strong>Google AdSense & DoubleClick Cookie</strong> Google, as a third party vendor, uses cookies to serve ads on our Service. Google’s use 
                of the DoubleClick cookie enables it and its partners to serve ads to our users based on their visit to our Service or other websites on the 
                Internet.
            </p>
            
            <p>
                You may opt out of the use of the DoubleClick Cookie for interest-based advertising by visiting the 
                <a href="https://www.google.com/ads/preferences/" class="[ underline ]" target="_blank">
                     Google Ads Settings web page
                </a>
            </p>
        </li>
    </ul>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Links to Other Sites</h2>

    <p>
        Our Service may contain links to other sites that are not operated by us. If you click a third party link, you will be directed to that third party’s 
        site. We strongly advise you to review the Privacy Policy of every site you visit.
    </p>

    <p>
        We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.
    </p>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Children’s Privacy</h2>

    <p>
        Our Service does not address anyone under the age of 18 ("Children").
    </p>

    <p>
        We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that 
        your Child has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without 
        verification of parental consent, we take steps to remove that information from our servers.
    </p>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Changes to This Privacy Policy</h2>

    <p>
        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
    </p>

    <p>
        We will let you know via a prominent notice on our Service, prior to the change becoming effective and update the “effective date” at the top of this 
        Privacy Policy.
    </p>

    <p>
        You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this 
        page.
    </p>

    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Contact Us</h2>

    <p>
        If you have any questions about this Privacy Policy, please 
        <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-brand-linkedin ] [ text-blue-500 ] [ inline ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <rect x="4" y="4" width="16" height="16" rx="2"></rect>
            <line x1="8" y1="11" x2="8" y2="16"></line>
            <line x1="8" y1="8" x2="8" y2="8.01"></line>
            <line x1="12" y1="16" x2="12" y2="11"></line>
            <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
        </svg>
        <a href="https://www.linkedin.com/in/fingers10" class="[ underline ]" target="_blank">Contact Us</a> or 
        <a href="https://github.com/ILoveDotNet/ilovedotnet/issues" class="[ underline ]" target="_blank">file an issue</a>.
    </p>

    <p class="[ bg-green-100 ] [ dark:bg-green-600 ] [ p-2 ]">
        <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-bulb ] [ inline ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
           <path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7"></path>
           <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3"></path>
           <line x1="9.7" y1="17" x2="14.3" y2="17"></line>
        </svg>
        Do you have an idea or suggestion for a blog post? <a href="https://github.com/ILoveDotNet/ilovedotnet/issues" class="[ underline ]">Submit it here</a>!
    </p>
    
</section>

@code {
    private string Title = "Privacy - I ❤️ DotNet";
    private string Description = "This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love.";
    private string BaseUrl => configuration.GetValue<string>("baseUrl")!;
}