@page "/blogs/server-and-client-features"
@inherits FragmentNavigationBase
@inject TableOfContents tableOfContents

<Content Description=@Description
         Slug=@Slug
         PosterPath=@PosterPath
         Channel="@Channel"
         ContentType="@ContentType"
         TotalContents=@TotalContents
         Type="SignalR"
         FileName=@nameof(ServerAndClientFeatures)>
    <ContentBody>
        <p>
            In this article, let's learn about fundamentals of <ContentHighlight>SignalR</ContentHighlight> in <ContentHighlight>dotnet</ContentHighlight>.
        </p>

        <h3 class="[ font-semibold text-lg ]">Table of Contents</h3>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#i-hubcontext")" Match="NavLinkMatch.All">
                    IHubContext
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#groups")" Match="NavLinkMatch.All">
                    Groups
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#message-pack-hub-protocol")" Match="NavLinkMatch.All">
                    Message Pack Hub Protocol
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#keep-alive")" Match="NavLinkMatch.All">
                    Keep Alive
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#exceptions-and-logging")" Match="NavLinkMatch.All">
                    Exceptions and Logging
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#streaming")" Match="NavLinkMatch.All">
                    Streaming
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction" class="[ font-semibold text-lg ]">Introduction</h3>

        <p>
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="i-hubcontext" class="[ font-semibold text-lg ]">IHubContext</h3>

        <p>
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="groups" class="[ font-semibold text-lg ]">Groups</h3>

        <p>
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="message-pack-hub-protocol" class="[ font-semibold text-lg ]">Message Pack Hub Protocol</h3>

        <p>
            
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="keep-alive" class="[ font-semibold text-lg ]">Keep Alive</h3>

        <p>
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="exceptions-and-logging" class="[ font-semibold text-lg ]">Exceptions and Logging</h3>

        <p>
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="streaming" class="[ font-semibold text-lg ]">Streaming</h3>

        <p>
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="summary" class="[ font-semibold text-lg ]">Summary</h3>

        <p>
            
        </p>
    </ContentBody>
</Content>

@code {
    private string Description = "In this post I will teach you to server and client features available in SignalR in .NET. All with live working demo.";
    private string Slug = "server-and-client-features";
    private string PosterPath = "Blogs/SignalR";
    private string Channel = "signalr";
    private string ContentType = "blogs";
    private ushort TotalContents => (ushort)tableOfContents.Contents.Count(content => content.Type.Equals("SignalR", StringComparison.CurrentCultureIgnoreCase));
}
