@page "/career"
@using Toolbelt.Blazor.HeadElement
@inject IConfiguration configuration
@inject Sitemaps sitemap

<Title>@Title</Title>
<Meta Property="description" Content="@Description" />
<Meta Property="keywords" Content=".NET, DotNet, I Love DotNet, I ❤️ DotNet, Blazor, Blazor (WebAssembly), Blazor Wasm, C#, Entity Framework, LINQ, ML.NET, Web API, TDD, OOPS, Middleware, JWT, Database, DDD, Dependency Injection, Report, Design Pattern, SOLID, HTTP Client, OWASP, SignalR, MSBuild, Regex, MAUI, MCP, Testing, AI, Security, JSON" />
<Meta Property="url" Content="@BaseUrl" />
<Meta Property="identifier-URL" Content="@BaseUrl" />
<Meta Property="og:site_name" Content="@Title" />
<Meta Property="og:type" Content="website" />
<Meta Property="og:title" Content="@Title" />
<Meta Property="og:image" Content="@($"{BaseUrl}image/brand/mini-logo.png")" />
<Meta Property="og:image:alt" Content="DotNet bot with heart and DotNet brand" />
<Meta Property="og:description" Content="@Description" />
<Meta Property="og:url" Content="@BaseUrl" />
<Meta Property="twitter:card" Content="summary" />
<Meta Property="twitter:title" Content="@Title" />
<Meta Property="twitter:image" Content="@($"{BaseUrl}image/brand/mini-logo.png")" />
<Meta Property="twitter:image:alt" Content="DotNet bot with heart and DotNet brand" />
<Meta Property="twitter:description" Content="@Description" />
<Meta Property="twitter:url" Content="@BaseUrl" />
@foreach(var sitemap in sitemap.Files)
{
    <Link Rel="sitemap" Href="@($"{BaseUrl}{sitemap}")" type="application/xml" title="Sitemap" />   
}
<Link Rel="alternate" Href="@($"{BaseUrl}atom.xml")" type="application/rss+xml" />
<Link Rel="alternate" Href="@BaseUrl" hreflang="en" />
<Link Rel="alternate" Href="@BaseUrl" hreflang="x-default" />
<Link Rel="canonical" Href="@BaseUrl" />
<Link Rel="index" Href="@BaseUrl" title="@Title" />
<HeadContent>
    @(new MarkupString(
        $$""""
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "publisher": {
                "@type": "Organization",
                "name": "{{Title}}",
                "url": "{{BaseUrl}}",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{BaseUrl}}favicon.ico",
                    "width": 16,
                    "height": 16
                }
            },
            "url": "{{BaseUrl}}",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{BaseUrl}}"
            },
            "description": "{{Description}}"
        }
        </script>
        """"
    ))
</HeadContent>

<section class="[ dark:bg-stone-900 ] [ flex flex-col ] [ space-y-5 ] [ p-5 ]">
    
    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">Career</h2>

    <p>
      Career skills are the skills that are necessary to succeed in a particular job or profession. These skills can include technical skills, such as proficiency in a specific programming language or software application, as well as soft skills, such as communication, teamwork, and problem-solving abilities.
    </p>

    <p>
      In addition to these skills, it is important to continuously update your knowledge and stay current with industry trends to remain competitive in the job market.
    </p>

    <p>
      I'll share some of the practices that I have learned over the years that have helped me in my career. These practices are not exhaustive, but they can serve as a starting point for anyone looking to improve their skills and advance their career.
    </p>

    <p>
      One important practice is to seek feedback regularly. Constructive criticism can provide valuable insights into your strengths and areas for improvement, helping you to grow professionally.
    </p>

    <p>
        Keep your linkedin profile updated. This is a great way to showcase your skills and experience to potential employers. Make sure to include relevant keywords in your profile to increase your visibility in search results.
    </p>

    <p>
        Always keep your resume updated. Your resume is your first impression to potential employers, so make sure it is polished and up-to-date. 
        Tailor your resume to each job application, highlighting the skills and experience that are most relevant to the position.
        For example, I used to have my resume in a git repo in a HTML format. I'll keep on updating it with the latest skills and experience.
        This way, I can easily host in github pages and generate a PDF version of it and share it.
    </p>

    <p>
        The key competencies to focus on include:
        
        <ul class="[ list-disc ] [ ml-5 ]">
            <li>Problem-solving abilities</li>
            <li>Teamwork</li>
            <li>Communication skills</li>
            <li>Leadership</li>
            <li>Customer Focus</li>
            <li>Growth Mindset</li>
            <li>Continuous Learning</li>
        </ul>
    </p>

</section>

@code {
    private string Title = "Career - I ❤️ DotNet";
    private string Description = "This is a .NET knowledge sharing platform with live demos crafted by developers for developers with love.";
    private string BaseUrl => configuration.GetValue<string>("baseUrl")!;
}
