@using Humanizer
@inject IConfiguration configuration

<header class="[ space-y-2 ]">
    @if (VideoContent)
    {
        <div class="[ w-full ] [ h-0 ] [ relative ] [ pb-[56.25%] ]">
            <iframe src="https://www.youtube.com/embed/MUVyb9T5gU0" title="YouTube video player"
                class="[ absolute ] [ top-0 left-0 ] [ w-full ] [ h-full ]"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    }
    else
    {
        <figure>
            <img src="@($"image/{PosterPath}/{Slug}.svg")" alt="@Title" class="[ w-full ]" loading="lazy" />
        </figure>
    }
    <h2 class="[ dark:text-white ] [ font-semibold text-xl ]">@Title</h2>
    <section class="[ flex flex-col md:flex-row justify-between ] [ space-y-1 md:space-y-0 ] [ dark:text-white ] [ font-bold ]">
        <div>
            <p>Authors - <a href="@(configuration.GetValue<string>("authors:Abdul Rahman"))" class="[ underline ]" target="_blank">Abdul Rahman (Content Writer)</a>, <a href="@(configuration.GetValue<string>("authors:Regina Sharon"))" class="[ underline ]" target="_blank">Regina Sharon (Graphic Designer)</a></p>
            <time datetime="@ModifiedOn.ToString("yyyy-MM-dd HH:mm:ss")">Last updated @ModifiedOn.Humanize()</time>
        </div>
        <div>
            <SocialShare Title="@Title" Url="@($"{BaseUrl}blogs/{Slug}/")"></SocialShare>
        </div>
    </section>
    <section class="[ flex items-center justify-between ]">
        <NavLink href="@($"channels/{ChannelIconName.ToLower()}")" class="[ flex ]">
            <aside>
                <figure class="[ mt-2 mr-2 ]">
                    <img src="@($"/image/icons/{ChannelIconName}.png")" alt="@ChannelIconName" loading="lazy" height="48" width="48" class="[ rounded-full ]" />
                </figure>
            </aside>
            <article class="[ flex flex-col justify-between ] [ dark:text-white ] [ mt-2 ]">
                <h2 class="[ font-medium break-words ] [ uppercase ]">@ChannelIconName</h2>
                <section class="[ flex justify-between ]">
                    <p>@TotalContents Articles</p>
                </section>
            </article>
        </NavLink>
        <NavLink href="https://github.com/ILoveDotNet/ilovedotnet" target="_blank" class="[ md:bg-red-700 ] [ text-red-500 md:text-white uppercase ] [ px-2.5 py-1.5 ] [ font-semibold ]">Improve</NavLink>
    </section>
    <hr class="[ dark:text-white my-1.5 ]" />
</header>


@code {
    private string BaseUrl => configuration.GetValue<string>("baseUrl");

    [Parameter, EditorRequired] public string Title { get; set; } = default!;
    [Parameter, EditorRequired] public DateTime ModifiedOn { get; set; }
    [Parameter, EditorRequired] public string Slug { get; set; } = default!;
    [Parameter, EditorRequired] public string PosterPath { get; set; } = default!;
    [Parameter, EditorRequired] public string ChannelIconName { get; set; } = default!;
    [Parameter, EditorRequired] public bool VideoContent { get; set; } = default!;
    [Parameter] public string? VideoContentUrl { get; set; }
    [Parameter, EditorRequired] public ushort TotalContents { get; set; } = default!;
}
