@page "/blogs/blazor-wasm-dynamic-component"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(BlazorDynamicComponent)>
    <ContentBody>
        <p>
            In this article, let's learn about <Highlight>&lt;DynamicComponent&gt;</Highlight> in Blazor.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/blazor-wasm-virtualization">Blazor WASM Virtualization</NavLink>.
        </p>

        <h3>Table of Contents</h3>
        
        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#what-is-dynamic-component")" Match="NavLinkMatch.All">
                    What is Dynamic Component?
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#how-to-use-dynamic-component-in-blazor")" Match="NavLinkMatch.All">
                    How to use Dynamic Component in blazor? 
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#when-to-use-dynamic-component-in-blazor")" Match="NavLinkMatch.All">
                    When to use Dynamic Component in blazor? 
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#steps")" Match="NavLinkMatch.All">
                    Steps 
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="what-is-dynamic-component">What is Dynamic Component in blazor?</h3>

        <p>
            As its name implies, <Highlight>&lt;DynamicComponent&gt;</Highlight> is a component that allows us to dynamically render 
            components. The idea is that we pass the type of the component to render, and, optionally, its parameters, and voila, the component is 
            rendered.
        </p>

        <p>
            You don't need to iterate through components and use complex conditionals, use reflection, declare a bunch of <Highlight>RenderFragments</Highlight>, 
            or even build your own render tree. It can get complicated when dealing with parameters and complex data graphs, and none of these solutions are 
            any good, really.
        </p>

        

        <h3 id="how-to-use-dynamic-component-in-blazor">How to use Dynamic Component in blazor?</h3>

        <p>
            To start using <Highlight>&lt;DynamicComponent&gt;</Highlight>, consider the following example
        </p>

        <p>
            In the above example,
        </p>

        <ul>
            <li><Highlight>componentType</Highlight> specifies the type.</li>
            <li><Highlight>parameters</Highlight> specifies component parameters to pass to the <Highlight>componentType</Highlight> component.</li>
        </ul>

        <CodeSnippet CssClass="language-razor">
&lt;DynamicComponent Type="@@componentType" Parameters="@@parameters" /&gt;

@@code {
    private Type componentType = ...;
    private IDictionary&lt;string, object&gt; parameters = ...;
}
        </CodeSnippet>

        

        <h3 id="when-to-use-dynamic-component-in-blazor">When to use Dynamic Component in blazor?</h3>

        <p>
            <Highlight>&lt;DynamicComponent&gt;</Highlight> is can be in following scenarios,
        </p>

        <ul>
            <li>Dynamically Rendering Widget components in dashboard based on User Preference or UI Settings.</li>
            <li>Dynamically generating forms from a JSON data stored in database.</li>
            <li>
                Dynamically Rendering components based on user choice for different line of business. Example collecting data from user for type of 
                insurance selected. Each insurance component can have different validations and business logics.
            </li>
        </ul>

        <p>
            Let's try rendering simple input components based on user selection. Let's create 3 components.
        </p>

        <p>
            A simple <Highlight>&lt;input type="text" /&gt;</Highlight>
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;label&gt;
    @@Label
    &lt;input type="text" /&gt;
&lt;/label&gt;

@@code {
    [Parameter] public string Label { get; set; }
}
        </CodeSnippet>

        

        <p>
            A simple <Highlight>&lt;input type="checkbox" /&gt;</Highlight>
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;label&gt;
    &lt;input type="checkbox" /&gt;
    @@Label
&lt;/label&gt;

@@code {
    [Parameter] public string Label { get; set; }
}
        </CodeSnippet>

        

        <p>
            A simple <Highlight>&lt;input type="radio" /&gt;</Highlight>
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;label&gt;
    &lt;input type="radio" /&gt;
    @@Label
&lt;/label&gt;

@@code {
    [Parameter] public string Label { get; set; }
}
        </CodeSnippet>

        
        
        <h3 id="steps">Steps</h3>

        <ol>
            <li>
                Let's start by adding all the three components as option in <Highlight>&lt;select&gt;</Highlight> drop down and hook an 
                <Highlight>@@onchange="RenderComponent"</Highlight>.
            </li>
            <li>
                When the user select's a choice from dropdown, we can get the component type in the <Highlight>@@onchange</Highlight> event 
                using event args as <Highlight>type = Type.GetType($"BlazorDemoComponents.{eventArgs.Value}");</Highlight>.
            </li>
            <li>
                Now <Highlight>&lt;DynamicComponent&gt;</Highlight> will render the selected component and pass the parameters using 
                <Highlight>Parameters="@@components[type.Name].Parameters"</Highlight>. Here we are passing <Highlight>Label</Highlight> 
                parameter to each input component using <Highlight>IDictionary&lt;string, object&gt;</Highlight> parameter.
            </li>
            <li>
                Note that <Highlight>Type</Highlight> is required parameter and <Highlight>Parameters</Highlight> is optional 
                parameter in <Highlight>&lt;DynamicComponent&gt;</Highlight>.
            </li>
        </ol>

        <CodeSnippet CssClass="language-razor">
&lt;select @@onchange="RenderComponent"&gt;
    &lt;option&gt;Select&lt;/option&gt;
    &lt;option value="@@(nameof(TextboxComponent))"&gt;Text Box&lt;/option&gt;
    &lt;option value="@@(nameof(CheckboxComponent))"&gt;Check Box&lt;/option&gt;
    &lt;option value="@@(nameof(RadiobuttonComponent))"&gt;Radio Button&lt;/option&gt;
&lt;/select&gt;

@@if(type is not null)
{
    &lt;DynamicComponent Type="@@type" Parameters="@@components[type.Name].Parameters"&gt;&lt;/DynamicComponent&gt;
} 

@@code {
    Type? type;
    private Dictionary&lt;string, ComponentMetadata&gt; components = new()
    {
        {
            nameof(TextboxComponent),
            new ComponentMetadata
            {
                Name = "Text Box",
                Parameters = new() { { "Label", "Text Box" } }
            }
        },
        {
            nameof(CheckboxComponent),
            new ComponentMetadata
            {
                Name = "Check Box",
                Parameters = new() { { "Label", "Check Box" } }
            }
        },
        {
            nameof(RadiobuttonComponent),
            new ComponentMetadata
            {
                Name = "Radio Button",
                Parameters = new() { { "Label", "Radio Button" } }
            }
        }
    };

    public void RenderComponent(ChangeEventArgs eventArgs)
    {
        type = Type.GetType($"BlazorDemoComponents.{eventArgs.Value}");
    }

    public class ComponentMetadata
    {
        public string? Name { get; set; }
        public Dictionary&lt;string, object&gt; Parameters { get; set; } = 
            new Dictionary&lt;string, object&gt;();
    }
}
        </CodeSnippet>

        

        <DemoSnippet Title="Dynamically Rendering Input Components Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                <b>
                    Scenario - Let's try rendering the input components dynamically
                </b>
            </p>
            <DynamicComponentDemo></DynamicComponentDemo>
        </DemoSnippet>

        

        <h3 id="summary">Summary</h3>

        <p>
            In this post, we walked through the new <Highlight>&lt;DynamicComponent&gt;</Highlight>, which allows you to render components when 
            you don't know your types at runtime. We were able to render a component based on what a user selects from a drop-down list. We also explored how 
            to pass in parameters to the <Highlight>&lt;DynamicComponent&gt;</Highlight> as well.
        </p>
    </ContentBody>
</Content>