@page "/blogs/blazor-wasm-error-logging"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(ErrorLogging)>
    <ContentBody>
        <p>
            In this article, let's learn about how to <Highlight>log errors</Highlight> using <Highlight>SeriLog</Highlight> 
            in <Highlight>Blazor WASM</Highlight> in .NET.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/blazor-wasm-exception-handling-and-error-boundary">Blazor WASM Exception Handling and Error Boundary</NavLink>.
        </p>

        <h3>Table of Contents</h3>

        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#how-logging-works-in-blazor-wasm")" Match="NavLinkMatch.All">
                    How logging works in Blazor WASM ?
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#configuring-serilog")" Match="NavLinkMatch.All">
                    Configuring SeriLog
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#logging-to-server-from-blazor-wasm")" Match="NavLinkMatch.All">
                    Logging to server from Blazor WASM
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#creating-error-component-to-log-error")" Match="NavLinkMatch.All">
                    Creating Error component to log error
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>

        <p>
            Logging is needed in all applications. This will help to find root cause or track user activity in any environment. This can be done easily in 
            server side applications with logging frameworks but for <abbr title="Single Page Application">SPA</abbr> like <Highlight>Blazor 
            <abbr title="Web Assembly">WASM</abbr></Highlight> running in browser sandbox, we will not be having direct access to file system or database 
            and logging cannot be done like how we do in server side applications. We can use browser console to log 
            <Highlight>Information</Highlight>, <Highlight>Warning</Highlight> or <Highlight>Error</Highlight>. But 
            this will not help much in production. We can still make logging happen in production by processing <Highlight>Exception</Highlight> 
            and posting the error details to backend API. Let's look on how to achieve this in <Highlight>Blazor <abbr title="Web Assembly">WASM</abbr></Highlight>.
        </p>

        

        <h3 id="how-logging-works-in-blazor-wasm">How logging works in Blazor WASM ?</h3>

        <p>
            .NET supports logging with variety of logging providers. <Highlight>Logging</Highlight> can be set on the 
            <Highlight>minimum severity level</Highlight>. The severity levels are, 
        </p>

        <table class="[ table-fixed border-collapse ] [ bg-white ] [ border-2 border-gray-200 ] [ dark:bg-black dark:border-slate-500 ]">
            <thead>
                <tr class="[ bg-gray-100 ] [ dark:bg-slate-500 ]">
                    <th class="[ border-2 border-gray-200 ] [ dark:border-slate-600 ] [ p-2 ]">Name</th>
                    <th class="[ border-2 border-gray-200 ] [ dark:border-slate-600 ] [ p-2 ]">Severity Level</th>
                </tr>
            </thead>
            <tbody>
                <tr class="[ bg-yellow-100 ] [ dark:bg-blue-600 ]">
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">Trace</td>
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">0</td>
                </tr>
                <tr class="[ bg-green-100 ] [ dark:bg-green-600 ]">
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">Debug</td>
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">1</td>
                </tr>
                <tr class="[ bg-fuchsia-100 ] [ dark:bg-fuchsia-600 ]">
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">Information</td>
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">2</td>
                </tr>
                <tr class="[ bg-yellow-100 ] [ dark:bg-yellow-600 ]">
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">Warning</td>
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">3</td>
                </tr>
                <tr class="[ bg-red-100 ] [ dark:bg-red-600 ]">
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">Error</td>
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">4</td>
                </tr>
                <tr class="[ bg-red-100 ] [ dark:bg-red-600 ]">
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">Critical</td>
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">5</td>
                </tr>
            </tbody>
        </table>

        <p>
            <Highlight>Logging</Highlight> can be set in the <Highlight>appsettings.json</Highlight> file and can be specified 
            inside the <Highlight>Logging</Highlight> section. Default logging is set in the <Highlight>LogLevel</Highlight> section. 
            The <Highlight>namespace</Highlight> is set as <Highlight>key</Highlight> and 
            <Highlight>minimum severity level</Highlight> is set as <Highlight>value</Highlight>. The 
            <Highlight>appsettings.json</Highlight> file is inside the <Highlight>wwwroot</Highlight> folder of Blazor WASM app. 
            Here is the example how logging is set in <Highlight>appsettings.json</Highlight> file.
        </p>

        <CodeSnippet CssClass="language-json">
{
  "Logging": {
    "LogLevel": {
      "ILoveDotNet.Web": "Warning"
    }
  }
}
        </CodeSnippet>

        <p>
            For this to work in blazor wasm, we need to add <Highlight CssClasses="[ break-all ]">Microsoft.Extensions.Logging.Configuration</Highlight> 
            Nuget package to the project. Now this needs to be configured in <Highlight>Program.cs</Highlight> file as shown below.
        </p>

        <CodeSnippet CssClass="language-csharp">
builder.Logging.AddConfiguration(builder.Configuration.GetSection("Logging"));
        </CodeSnippet>

        <p>
            That's all with configuring logging in blazor wasm. Now you can <Highlight>inject</Highlight> 
            <Highlight>ILogger&lt;T&gt;</Highlight> in any component and log the messages. You can also inject 
            <Highlight>ILoggerFactory</Highlight> and create logger for specific class using 
            <Highlight>loggerFactory.CreateLogger&lt;T&gt();</Highlight> and log messages. Both approaches will log messages to 
            <Highlight>Output Window</Highlight> in your editor and to <Highlight>browser console</Highlight>.
        </p>

        

        <h3 id="configuring-serilog">Configuring SeriLog</h3>

        <p>
            So far so good. But Logging to browser console is not always helpful. The problem with blazor wasm is that not every features of ASP.NET Core 
            logging is supported. As it is a client side web framework it doesn't have access to file system or network so it's unable to write directly to it. 
            So we need to log the errors to some backend storage like <Highlight>Azure AppInsights</Highlight> or 
            <Highlight>AWS CloudWatch</Highlight> or to a <Highlight>file system</Highlight>. This can be done by sending log 
            information to server side applications which then can be used to log to backend storage configured on the server application. This can be done by 
            using <Highlight>SeriLog</Highlight> which is a popular logging framework for .NET.
        </p>

        <p>
            First let's setup backend API which we usually use to get data for our blazor wasm app. You need to do the following steps in your backend API 
            project.
        </p>

        <ol>
            <li>Install <Highlight>Serilog.AspNetCore</Highlight> Nuget package in server app a.k.a your API.</li>
            <li>Next install <Highlight>Serilog.AspNetCore.Ingestion</Highlight> Nuget package in server app.</li>
            <li>
                <p>Now configure <Highlight>appsettings.json</Highlight> in your server app and configure the destination or sinks to store logs.</p>
                <CodeSnippet CssClass="language-json">
{
  "Serilog": {
    "Using": [],
    "MinimumLevel": {
      "Default": "Warning"
    },
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "C:\\Users\\Public\\Documents\\ILoveDotNet\\WebUILogs_.txt",
          "rollingInterval": "Day",
          "shared": true
        }
      }
    ]
  }
}
                </CodeSnippet>
            </li>
            <li>
                <p>Register <Highlight>Serilog Logging in Host Builder</Highlight> of backend app.</p>
                <CodeSnippet CssClass="language-csharp">
builder.Host.UseSerilog();
                </CodeSnippet>
            </li>
            <li>
                <p>
                    Finally you need to add the following <Highlight>middleware</Highlight> to your back end API request pipeline. 
                    This tells the application that serilog endpoints needs is setup so that logs can be sent to the server. This will be helpful for 
                    Blazor WASM app to send logs to backend API.
                </p>
                <CodeSnippet CssClass="language-csharp">
var app = builder.Build();

app.UseSerilogIngestion();
                </CodeSnippet>
            </li>
        </ol>

        

        <h3 id="logging-to-server-from-blazor-wasm">Logging to server from Blazor WASM</h3>

        <p>
            Now its time to setup and configure logging in blazor wasm app. You need to do the following steps in your blazor wasm project.
        </p>

        <ol>
            <li>First install <Highlight CssClasses="[ break-all ]">Microsoft.Extensions.Logging.Configuration</Highlight> Nuget package.</li>
            <li>Next install <Highlight>Serilog.Extensions.Logging</Highlight> Nuget package.</li>
            <li>Next install <Highlight>Serilog.Settings.Configuration</Highlight> Nuget package.</li>
            <li>Next install <Highlight>Serilog.Sinks.BrowserConsole</Highlight> Nuget package.</li>
            <li>Next install <Highlight>Serilog.Sinks.BrowserHttp</Highlight> Nuget package.</li>
            <li>
                <p>Finally add the following configuration in <Highlight>Program.cs</Highlight></p>
                <CodeSnippet CssClass="language-csharp">
var builder = WebAssemblyHostBuilder.CreateDefault(args);

//builder.Logging.AddConfiguration(builder.Configuration.GetSection("Logging"));

Log.Logger = new LoggerConfiguration()
    .ReadFrom.Configuration(builder.Configuration)
    .Enrich.FromLogContext()
    .Enrich.WithProperty("InstanceId", Guid.NewGuid().ToString("n"))
    .WriteTo.BrowserHttp($"{builder.Configuration.GetValue&lt;string&gt;("ApiBaseAddress")}ingest", controlLevelSwitch: new LoggingLevelSwitch(LogEventLevel.Error))
    .WriteTo.BrowserConsole(levelSwitch: new LoggingLevelSwitch(LogEventLevel.Warning))
    .CreateLogger();

builder.Logging
       //.ClearProviders() // Commented this as it affects default global blazor-error-ui from getting rendered.
       .AddProvider(new SerilogLoggerProvider());
                </CodeSnippet>                
            </li>
        </ol>

        <p>
            In the above code we are initialising <Highlight>Logger</Highlight> and wiring it with <Highlight>Serilog</Highlight>. 
            And we can <Highlight>Enrich()</Highlight> the logs with any data. In our case we are adding a simple 
            <Highlight>Guid</Highlight> as instance id to track the logs in backend system. Finally we are adding the 
            <Highlight>sinks</Highlight> to log to <Highlight>backend</Highlight> using 
            <Highlight>BrowserHttp()</Highlight> and to <Highlight>browser console</Highlight> using 
            <Highlight>BrowserConsole()</Highlight>.
        </p>

        <p>
            That's it now whenever you log any messages it will be logged in both browser console and in your backend API.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/blazor-wasm-error-logging/browser-http-logs.png" alt="browser http logs" class="[ w-full ]" />
        </figure>

        

        <figure>
            <img src="./image/blogs/blazor/wasm/blazor-wasm-error-logging/browser-console-logs.png" alt="browser console logs" class="[ w-full ]" />
        </figure>

        

        <h3 id="creating-error-component-to-log-error">Creating Error component to log error</h3>

        <p>
            Let's start with simple <Highlight>Subscription</Highlight> component. This will throw error on 
            <Highlight>Subscribe Now</Highlight> button click.
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;button type="button" @@onclick="Subscribe"&gt;Subscribe Now&lt;/button&gt;

@@code {
    [CascadingParameter] public Error? Error { get; set; }

    protected void Subscribe()
    {
        try
        {
            throw new Exception();
        }
        catch (Exception ex)
        {
            Exception = ex;
            Error?.ProcessError(ex);
        }
    }
}
        </CodeSnippet>

        

        <p>
            To process the error, let's create an <Highlight>Error</Highlight> component. This component takes 
            <Highlight>Child Content</Highlight> <Highlight>RenderFragment</Highlight> as input. This component also has 
            <Highlight>ProcessError</Highlight> method to process the exception and log it to <Highlight>browser console</Highlight> 
            or <Highlight>backend API</Highlight>. For simplicity I'm logging into browser console.
        </p>

        <CodeSnippet CssClass="language-razor">
@@using Microsoft.Extensions.Logging
@@inject ILogger&lt;Error&gt; Logger

&lt;CascadingValue Value=this&gt;
    @@ChildContent
&lt;/CascadingValue&gt;

@@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    public void ProcessError(Exception ex)
    {
        //Post Exception Details to API. For simplicity I'm logging to browser console.
        Logger.LogError("Error:ProcessError - Type: {Type} Message: {Message}", ex.GetType(), ex.Message);
    }
}
        </CodeSnippet>

        <p>
            Now lets wrap our <Highlight>Subscription</Highlight> component with <Highlight>Error</Highlight> component.
        </p>

        <p>Note that the above mentioned components are created in previous article.</p>

        <CodeSnippet CssClass="language-razor">
&lt;Error&gt;
    &lt;Subscription&gt;&lt;/Subscription&gt;
&lt;/Error&gt;
        </CodeSnippet>

        

        <p>
            That's it. Now if any exception occurs, <Highlight>Subscription</Highlight> component will make use of 
            <Highlight>CascadingParameter Error</Highlight> component and process the exception which then can be used to log to browser console 
            or posted to backend API.
        </p>

        <DemoSnippet Title="Error Logging">
            <p class="[ text-black ] [ dark:text-white ]">
                <b>
                    Scenario - Let's simulate an error logging when subscribing. Don't forget to check the browser console after clicking the
                    below button
                </b>
            </p>
            <Error>
                <Subscription></Subscription>
            </Error>
        </DemoSnippet>

        

        <h3 id="summary">Summary</h3>

        <p>
            In this article, we have learnt about how to log errors in <Highlight>Blazor <abbr title="Web Assembly">WASM</abbr></Highlight> 
            using <Highlight>SeriLog</Highlight>. We have also seen how to create an <Highlight>Error</Highlight> component to 
            process the exception and log it to <Highlight>browser console</Highlight> or <Highlight>backend API</Highlight>. 
            You can find the source code for this article in this <Highlight>I Love .NET</Highlight> repository.
        </p>
    </ContentBody>
</Content>