@page "/blogs/blazor-wasm-exception-handling-and-error-boundary"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(ExceptionHandlingAndErrorBoundary)>
    <ContentBody>
        <What>

        <p>
            In this article, lets learn about <Highlight>exception handling</Highlight> and <Highlight>error boundary</Highlight> 
            in blazor WASM applications.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on 
            <NavLink href="blogs/blazor-wasm-javascript-interop-and-isolation">Blazor WASM Javascript Interop and Isolation</NavLink>.
        </p>
        </What>

        <Why>


        <p>
            <Highlight>Exceptions</Highlight> are common in all apps. We can handle known exceptions which we expect 
            using <Highlight>try</Highlight> <Highlight>catch</Highlight> blocks. But this cannot be the case always. Some times we 
            might end up in unforeseen run time unhandled exceptions. There are different ways to handle exceptions. Luckily with 
            <Highlight>blazor</Highlight> we have exception handling built in in two different ways.
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;button type="button" @@onclick="ConnectToAgent"&gt;Click to initiate chat with agent&lt;/button&gt;

@@code {
  protected static void ConnectToAgent() 
  {
      throw new Exception();
  }
}
        </CodeSnippet>
        </Why>

        <How>
            <h4 id="global-exception-handling">Global Exception Handling</h4>


        <p>
            Blazor has global error handling element <Highlight>@(@"<div id=""blazor-error-ui"">")</Highlight> in <Highlight>index.html</Highlight>. This will act
            as an global error handler which will catch any <Highlight>unhanled exception</Highlight> across blazor app and display nice error UI codesent inside
            <Highlight>@(@"<div id=""blazor-error-ui"">")</Highlight> at the bottom of the screen by default and 
            <Highlight>logs the error stack trace to browser console</Highlight>. This will also have <Highlight>reload</Highlight> 
            option to reload the app to <Highlight>restore</Highlight> the app to correct working state.
        </p>

        <CodeSnippet CssClass="language-html">
&lt;div id="blazor-error-ui" class="[ bg-red-500 ] [ text-white ] [ fixed bottom-0 ] [ w-full ] [ p-2 ]" style="display: none;"&gt;
    An unhandled error has occurred. Please click on &lt;a href="javascript: void(0)" onclick="location.reload()"&gt;Reload&lt;/a&gt; to proceed.
    &lt;button&gt;X&lt;/button&gt;
&lt;/div&gt;
        </CodeSnippet>

        

        <DemoSnippet Title="Global Exception Handling">
            <p class="[ text-black ] [ dark:text-white ]"><b>Scenario - Let's simulate an error connecting to chat agent</b></p>
            <Chat></Chat>
        </DemoSnippet>
            <h4 id="error-boundary">Error Boundary</h4>


        <p>
            Though <Highlight>@(@"<div id=""blazor-error-ui"">")</Highlight> handles all <Highlight>unhandled exceptions</Highlight> 
            it will be <Highlight>nice to restrict the error handling boundary</Highlight> and have better 
            <Highlight>control of the error message and error UI</Highlight>. That said <Highlight>.Net 6</Highlight> 
            introduced <Highlight>@("<ErrorBoundary>")</Highlight> to serve this purpose. We can wrap any component inside 
            <Highlight>@("<ErrorBoundary>")</Highlight> and this will take care of showing error UI when an unhandled exception occurs inside the 
            component.
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;ErrorBoundary&gt;
    &lt;Chat&gt;&lt;/Chat&gt;
&lt;/ErrorBoundary&gt;
        </CodeSnippet>

        

        <DemoSnippet Title="Error Boundary">
            <p class="[ text-black ] [ dark:text-white ]"><b>Scenario - Let's simulate an error connecting to chat agent</b></p>
            <ErrorBoundaryDemo></ErrorBoundaryDemo>
        </DemoSnippet>

        

        <p>
            We can control the error message with our <Highlight>own custom error message and error UI</Highlight> 
            using <Highlight>@("<ErrorContent>")</Highlight>. From now incase of any unhandled exception, our custom error UI will be displayed.
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;ErrorBoundary&gt;
    &lt;ChildContent&gt;
        &lt;Chat&gt;&lt;/Chat&gt;
    &lt;/ChildContent&gt;
    &lt;ErrorContent&gt;
        &lt;div class="[ bg-red-500 ]"&gt;
            &lt;p class="[ text-white ]"&gt;An error occured while establishing a connection. Please try again later.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/ErrorContent&gt;
&lt;/ErrorBoundary&gt;
        </CodeSnippet>

        

        <DemoSnippet Title="Error Boundary with Custom Error UI">
            <p class="[ text-black ] [ dark:text-white ]"><b>Scenario - Let's simulate an error connecting to chat agent</b></p>
            <ErrorBoundaryWithErrorUIDemo></ErrorBoundaryWithErrorUIDemo>
        </DemoSnippet>

        

        <p>
            So far so good. But doesn't this leave a <Highlight>bad user experience?</Highlight> How will the user retry the action? One way is to 
            <Highlight>reload</Highlight> the page. But there is an another easy option called <Highlight>Recover</Highlight> in 
            <Highlight>ErrorBoundary</Highlight>. All we need to do is to add a reference to Error Boundary and call 
            <Highlight>errorBoundary?.Recover()</Highlight> method to retry the action.
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;ErrorBoundary @@ref="@@errorBoundary"&gt;
    &lt;ChildContent&gt;
        &lt;Chat&gt;&lt;/Chat&gt;
    &lt;/ChildContent&gt;
    &lt;ErrorContent&gt;
        &lt;p&gt;An error occured while establishing a connection. Please try again later.&lt;/p&gt;
    &lt;/ErrorContent&gt;
&lt;/ErrorBoundary&gt;

&lt;button type="button" @@onclick="Recover"&gt;Click to recover&lt;/button&gt;

@@code {
    protected ErrorBoundary errorBoundary = default!;

    protected void Recover() 
    {
        errorBoundary?.Recover();
    }
}
        </CodeSnippet>

        

        <DemoSnippet Title="Error Boundary with Custom Error UI and Recovery">
            <p class="[ text-black ] [ dark:text-white ]"><b>Scenario - Let's simulate an error connecting to chat agent</b></p>
            <ErrorBoundaryWithErrorUIAndRecoveryDemo></ErrorBoundaryWithErrorUIAndRecoveryDemo>
        </DemoSnippet>
            <h4 id="alternative-global-exception-handling">Alternative Global Exception Handling</h4>


        <p>
            An alternative to using <Highlight><NavLink href="@($"blogs/{Slug}#error-boundary")">Error boundaries (ErrorBoundary)</NavLink></Highlight> 
            is to pass a custom <Highlight>Error</Highlight> component as a <Highlight>CascadingValue</Highlight>to child components. An 
            advantage of using a component over using an injected service or a custom logger implementation is that a cascaded component can render content and apply 
            <Highlight>CSS</Highlight> styles when an error occurs.
        </p>

        <CodeSnippet CssClass="language-razor">
@@using Microsoft.Extensions.Logging
@@inject ILogger&lt;Error&gt; Logger

&lt;CascadingValue Value=this&gt;
    @@ChildContent
&lt;/CascadingValue&gt;

@@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    public void ProcessError(Exception ex)
    {
        //Post Exception Details to API. For simplicity I'm logging to browser console.
        Logger.LogError("Error:ProcessError - Type: {Type} Message: {Message}", ex.GetType(), ex.Message);
    }
}
        </CodeSnippet>

        

        <p>
            Now in the <Highlight>App</Highlight> component, wrap the <Highlight>Router</Highlight> component with the <Highlight>Error</Highlight> 
            component. This permits the <Highlight>Error</Highlight> component to cascade down to any component of the app where the <Highlight>Error</Highlight> 
            component is received as a <Highlight>CascadingParameter</Highlight>. We can then call error processing method <Highlight>ProcessError</Highlight> 
            from <Highlight>Error</Highlight> component to handle error. To learn more about this, head over to 
            <Highlight><NavLink href="blogs/blazor-wasm-error-logging">Blazor Wasm Error Logging</NavLink></Highlight>.
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;Error&gt;
    &lt;Router ...&gt;
        ...
    &lt;/Router&gt;
&lt;/Error&gt;
        </CodeSnippet>
        </How>

        <Summary>


        <p>
            I'm happy that you have reached to the end of this article. Here we learned about how <Highlight>global exception handler</Highlight> works in 
            blazor wasm apps and we also learnt how to <Highlight>control exceptions</Highlight> with <Highlight>ErrorBoundary</Highlight> 
            component to give <Highlight>better experience to users with recovery options</Highlight>.
        </p>
        </Summary>
    </ContentBody>
</Content>