@page "/blogs/using-hot-keys-in-blazor-wasm"
@inherits BasePage

<Content FileName=@nameof(HotKeys)>
    <ContentBody>
        <p>
            In this article, let's learn about how to setup and use <ContentHighlight>Hot Keys</ContentHighlight> in Blazor WASM apps.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/prevent-image-leech-by-dynamically-streaming-image-in-blazor-wasm" Match="NavLinkMatch.All">Prevent image leech by dynamically streaming image in Blazor WASM</NavLink>.
        </p>

        <h3>Table of Contents</h3>

        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#installation")" Match="NavLinkMatch.All">
                    Installation
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#configuration")" Match="NavLinkMatch.All">
                    Configuration
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#use-cases-for-hot-keys")" Match="NavLinkMatch.All">
                    Use Cases for Hot Keys
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#demo")" Match="NavLinkMatch.All">
                    Demo
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#advantages-of-hot-keys")" Match="NavLinkMatch.All">
                    Advantages of Hot Keys
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#limitations")" Match="NavLinkMatch.All">
                    Limitations
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>

        <p>
            In the context of front-end development, a <ContentHighlight>hotkey</ContentHighlight>, also known as a 
            <ContentHighlight>keyboard shortcut</ContentHighlight> or <ContentHighlight>shortcut key</ContentHighlight>, is a combination of keys on a computer 
            keyboard that <ContentHighlight>triggers specific actions within a software application</ContentHighlight>. Hotkeys are designed to enhance user productivity 
            and provide a quicker way to perform tasks without using a mouse or navigating through menus.            
        </p>

        

        <h3 id="installation">Installation</h3>
        
        <p>
            To start with Hot Keys, you need to,
        </p>

        <ol>
            <li>Install the <ContentHighlight CssClasses="[ break-all ]">Toolbelt.Blazor.HotKeys2</ContentHighlight> package from NuGet.</li>
            <li>Register HotKeys in DI Container using <ContentHighlight CssClasses="[ break-all ]">builder.Services.AddHotKeys2()</ContentHighlight>.</li>
        </ol>

        

        <h3 id="configuration">Configuration</h3>

        <p>
            To configure hot keys inside a component, you need to,
        </p>

        <ol>
            <li>Implement <ContentHighlight>IDisposable interface</ContentHighlight> to the component.</li>
            <li><ContentHighlight>Inject</ContentHighlight> the <ContentHighlight>HotKeys</ContentHighlight> service into the component.</li>
            <li>
                Create hot key context using <ContentHighlight CssClasses="[ break-all ]">HotKeys.CreateContext()</ContentHighlight> in 
                <ContentHighlight>OnInitialized()</ContentHighlight> or <ContentHighlight>OnAfterRender()</ContentHighlight> method.
            </li>
            <li>
                Add the combination with key and action to the <ContentHighlight>HotKeysContext object</ContentHighlight> that is returned from 
                <ContentHighlight>CreateContext()</ContentHighlight> method, using <ContentHighlight>Add()</ContentHighlight> method.
            </li>
            <li>
                You can also specify the <ContentHighlight>async</ContentHighlight> method to the <ContentHighlight>callback action</ContentHighlight> argument. 
                The method of the callback action can take an argument which is <ContentHighlight>HotKeyEntryByCode</ContentHighlight> or 
                <ContentHighlight>HotKeyEntryByKey</ContentHighlight> object.
            </li>
            <li>
                <ContentHighlight>Dispose</ContentHighlight> the <ContentHighlight>HotKeysContext object</ContentHighlight> when the component is disposing, in 
                the <ContentHighlight>Dispose()</ContentHighlight> method of the component.
            </li>
        </ol>

        

        <GithubGistSnippet Title="Configuring Hot Keys in Blazor WASM" UserId="fingers10" FileName="f272d961035572c132ca92d41bb510a8"></GithubGistSnippet>

        

        <h3 id="use-cases-for-hot-keys">Use Cases for Hot Keys</h3>

        <p>
            The most common use cases for hot keys are,
        </p>

        <ul>
            <li><ContentHighlight>Saving a record</ContentHighlight> while updating</li>
            <li><ContentHighlight>Activating search</ContentHighlight> within a web site</li>
        </ul>

        

        <h3 id="demo">Demo</h3>
        
        <DemoSnippet Title="Dynamic Image Streaming">
            <p class="[ text-black ] [ dark:text-white ]">
                I ❤️ .NET <ContentHighlight>uses hot keys to provide search functionality</ContentHighlight>. You can use press 
                <ContentHighlight>/</ContentHighlight> key to activate search in the site.
            </p>

            <figure>
                <img src="./image/blogs/blazor/wasm/using-hot-keys-in-blazor-wasm/hotkeys-demo.gif" alt="hotkeys demo" class="[ w-full ]" />
            </figure>
        </DemoSnippet>

        

        <h3 id="advantages-of-hot-keys">Advantages of Hot Keys</h3>

        <p>
            The advantages of hot keys are as follows,
        </p>

        <ul>
            <li><ContentHighlight>Speed & Efficiency</ContentHighlight>.</li>
            <li><ContentHighlight>Improved Accessibility</ContentHighlight>.</li>
            <li><ContentHighlight>Reduced mouse dependency</ContentHighlight>.</li>
            <li><ContentHighlight>Customization & Personilization</ContentHighlight>.</li>
        </ul>

        

        <h3 id="limitations">Limitations</h3>

        <p>
            The only limitation of hot keys is that it can be used only in <ContentHighlight>desktop devices</ContentHighlight> where we have a key board device 
            available to activate hot key.
        </p>

        

        <h3 id="summary">Summary</h3>

        <p>
            In this article, we learned about what is hot keys and how to configure them in Blazor WASM apps using <ContentHighlight>BlazorHotKeys</ContentHighlight> 
            package. We also learned about the advantages of using hot keys in our apps.  Hotkeys <ContentHighlight>empower end users</ContentHighlight> by 
            providing faster, more accessible, and customizable ways to interact with software applications, <ContentHighlight>enhancing their overall efficiency and 
            user experience</ContentHighlight>. You can learn more about the <ContentHighlight CssClasses="[ break-all ]">Toolbelt.Blazor.HotKeys2</ContentHighlight> 
            package in official <NavLink href="https://github.com/jsakamoto/Toolbelt.Blazor.HotKeys2" class="[ underline ]" target="blank">docs</NavLink>.
        </p>
    </ContentBody>
</Content>