@page "/blogs/blazor-wasm-forms-validation"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(Validation)>
    <ContentBody>
        <p>
            In this article, let's learn about how to <Highlight>validate the data collected using forms</Highlight> in Blazor WASM application.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on 
            <NavLink href="blogs/blazor-wasm-forms">Blazor Wasm Forms</NavLink>.
        </p>        

        <h3>Table of Contents</h3>
        
        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#why")" Match="NavLinkMatch.All">
                    Why Validation?
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#introducing-dataannotationsvalidator")" Match="NavLinkMatch.All">
                    Introducing DataAnnotationsValidator
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#displaying-error-messages")" Match="NavLinkMatch.All">
                    Displaying Error Messages
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#fluent-validations")" Match="NavLinkMatch.All">
                    Fluent Validations
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="why">Why Validation?</h3>

        <p>
            Validation is the act of checking the validity of data. It is a very important part of the form validation process. We should always validate the 
            user data before submitting it to the server. Validation can be from simple data format validation to complex business validations. Simple data 
            format validations like checking email format can be done in client side while checking email uniquness in system can be done in server side. 
            Processing the raw data can sometime allow an attacker to exploit our systems. Hence it is always recommended to validate the data before processing.
        </p>

        <h3 id="introducing-dataannotationsvalidator">Introducing DataAnnotationsValidator</h3>

        <p>
            The <Highlight>DataAnnotationsValidator</Highlight> is the standard validator type in Blazor. Adding this component within an 
            <Highlight>EditForm</Highlight> component will enable form validation based on .NET Data Annotation attributes
        </p>

        <CodeSnippet CssClass="language-razor">
@@using System.ComponentModel.DataAnnotations

&lt;EditForm Model="@@exampleModel" OnValidSubmit="@@HandleValidSubmit"&gt;
    &lt;DataAnnotationsValidator /&gt;
    &lt;ValidationSummary /&gt;

    &lt;InputText id="name" @@bind-Value="exampleModel.Name" /&gt;
    
    &lt;ValidationMessage For=@@(() =&gt; exampleModel.Name)/&gt;

    &lt;button type="submit"&gt;Submit&lt;/button&gt;

    &lt;p&gt;
        @@message
    &lt;/p&gt;
&lt;/EditForm&gt;

@@code {
    public class ExampleModel
    {
        [Required]
        [StringLength(10, ErrorMessage = "Name is too long.")]
        public string? Name { get; set; }
    }

    private ExampleModel exampleModel = new();
    private string? message;

    private void HandleValidSubmit()
    {
        message = "HandleValidSubmit called";

        // Process the valid form
    }
}
        </CodeSnippet>

        <DemoSnippet Title="Data Annotations Validation Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                To demonstrate how an <Highlight>EditForm</Highlight> component works with <Highlight>Data Annotations</Highlight> 
                validation
            </p>
            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Consider the above <Highlight>ExampleModel</Highlight> type.</li>
                <li>Several of Blazor's built-in form components.</li>
                <li>
                    The <Highlight>Name</Highlight> property is marked required with the <Highlight>RequiredAttribute</Highlight> 
                    and specifies a <Highlight>StringLengthAttribute</Highlight> maximum string length limit and error message.
                </li>
                <li>
                    The <Highlight>HandleValidSubmit</Highlight> method is assigned to <Highlight>OnValidSubmit</Highlight>. 
                    The handler is called if the form passes validation.
                </li>
                <li>
                    The data annotations validator (<Highlight>DataAnnotationsValidator</Highlight> component) attaches validation support using 
                    data annotations:
                    <ol class="[ list-decimal ] [ ml-4 ]">
                        <li>
                            If the &lt;input&gt; form field is left blank when the <strong><Highlight>Submit</Highlight></strong> button is 
                            selected, an error appears in the validation summary (<Highlight>ValidationSummary</Highlight> component) 
                            ("<Highlight>The Name field is required.</Highlight>") and <Highlight>HandleValidSubmit</Highlight> 
                            is <strong>not</strong> called.
                        </li>
                        <li>
                            If the &lt;input&gt; form field more than ten characters when the <strong><Highlight>Submit</Highlight></strong> 
                            button is selected, an error appears in the validation summary (<Highlight>ValidationSummary</Highlight> component) 
                            ("<Highlight>Name is too long.</Highlight>") and <Highlight>HandleValidSubmit</Highlight> 
                            is <strong>not</strong> called.
                        </li>
                        <li>
                            If the &lt;input&gt; form field contains a valid value when the <strong><Highlight>Submit</Highlight></strong> 
                            button is selected, <Highlight>HandleValidSubmit</Highlight> is called.
                        </li>
                    </ol>
                </li>
            </ol>
            <br />
            <div>
                <ValidationDemo></ValidationDemo>
            </div>
        </DemoSnippet>

        
        
        <h3 id="displaying-error-messages">Displaying Error Messages</h3>

        <p>
            Validation error messages can be displayed to the user in two ways. We can add a <Highlight>ValidationSummary</Highlight> to show a 
            comprehensive list of all errors in the form. We can also use the <Highlight>ValidationMessage</Highlight> component to display 
            error messages for a specific input on the form. These components are not mutually exclusive, so it is possible to use both at the same time.
            The ValidationSummary component can simply be dropped into an EditForm in our mark-up; no additional parameters are required at all.
        </p>

        <p>
            As the <Highlight>ValidationMessage</Highlight> component displays error messages for a single field, it requires us to specify the 
            identity of the field.
        </p>

        <p>
            In the above demo when you submit the form with invalid value, you can see two error messages getting displayed. The error message above text box 
            is from <Highlight>ValidationSummary</Highlight> and the error message below the text box is from 
            <Highlight>ValidationMessage</Highlight>.
        </p>
        
        <h3 id="fluent-validations">Fluent Validations</h3>
        
        <p>
            <NavLink href="https://docs.fluentvalidation.net/en/latest/" target="_blank">FluentValidation</NavLink> is a popular validation library for 
            <Highlight>.NET</Highlight> by <NavLink href="https://github.com/jeremyskinner" target="_blank">Jeremy 
            Skinner</NavLink>. It has some advantages over .NET's built-in DataAnnotations validation system, such as a richer set of rules, easier configuration, 
            and easier extensibility.
        </p>
        
        <p>
            FluentValidation does not provide integration with Blazor out of the box. Let's learn how to make Fluent Validation integrate and work nicely with Blazor. Lets start by using the same <Highlight>ExampleModel</Highlight> 
            and configure and validate using Fluent Validation using below steps.
        </p>

        <ol>
            <li>Install Nuget Package - <NavLink href="https://www.nuget.org/packages/FluentValidation/" target="_blank">FluentValidation</NavLink></li>
            <li>
                Add the below <Highlight>FluentValidator&lt;TValidator&gt;</Highlight> to your project. This code snippet updated version of 
                Fluent Validatoe originally created by <NavLink href="https://github.com/SteveSandersonMS" target="_blank">Steve Sanderson</NavLink>. 
                I have added original source link in the snippet.
            </li>
            <li>Now Create a <Highlight>YourModelClassValidator : AbstractValidator&lt;YourModelClass&gt;</Highlight></li>
            <li>Finally add <Highlight>&lt;FluentValidator TValidator="YourModelClassValidator" /&gt;</Highlight></li>
        </ol>

        <CodeSnippet CssClass="language-csharp">
//https://gist.github.com/SteveSandersonMS/090145d7511c5190f62a409752c60d00
public class FluentValidator&lt;TValidator&gt; : ComponentBase where TValidator : IValidator, new()
{
    private static readonly char[] _separators = new[] { '.', '[' };
    private TValidator _validator;

    [CascadingParameter] private EditContext EditContext { get; set; }

    protected override void OnInitialized()
    {
        _validator = new TValidator();
        var messages = new ValidationMessageStore(EditContext);

        // Revalidate when any field changes, or if the entire form requests validation
        // (e.g., on submit)

        EditContext.OnFieldChanged += (sender, eventArgs)
            =&gt; ValidateModel((EditContext)sender, messages);

        EditContext.OnValidationRequested += (sender, eventArgs)
            =&gt; ValidateModel((EditContext)sender, messages);
    }

    private void ValidateModel(EditContext editContext, ValidationMessageStore messages)
    {
        var context = new ValidationContext&lt;object&gt;(editContext.Model);
        var validationResult = _validator.Validate(context);
        messages.Clear();
        foreach (var error in validationResult.Errors)
        {
            var fieldIdentifier = ToFieldIdentifier(editContext, error.PropertyName);
            messages.Add(fieldIdentifier, error.ErrorMessage);
        }
        editContext.NotifyValidationStateChanged();
    }

    private static FieldIdentifier ToFieldIdentifier(EditContext editContext, string propertyPath)
    {
        // This method parses property paths like 'SomeProp.MyCollection[123].ChildProp'
        // and returns a FieldIdentifier which is an (instance, propName) pair. For example,
        // it would return the pair (SomeProp.MyCollection[123], "ChildProp"). It traverses
        // as far into the propertyPath as it can go until it finds any null instance.

        var obj = editContext.Model;

        while (true)
        {
            var nextTokenEnd = propertyPath.IndexOfAny(_separators);
            if (nextTokenEnd &lt; 0)
            {
                return new FieldIdentifier(obj, propertyPath);
            }

            var nextToken = propertyPath.Substring(0, nextTokenEnd);
            propertyPath = propertyPath.Substring(nextTokenEnd + 1);

            object newObj;
            if (nextToken.EndsWith("]"))
            {
                // It's an indexer
                // This code assumes C# conventions (one indexer named Item with one param)
                nextToken = nextToken.Substring(0, nextToken.Length - 1);
                var prop = obj.GetType().GetProperty("Item");
                var indexerType = prop.GetIndexParameters()[0].ParameterType;
                var indexerValue = Convert.ChangeType(nextToken, indexerType);
                newObj = prop.GetValue(obj, new object[] { indexerValue });
            }
            else
            {
                // It's a regular property
                var prop = obj.GetType().GetProperty(nextToken);
                if (prop == null)
                {
                    throw new InvalidOperationException($"Could not find property named {nextToken} on object of type {obj.GetType().FullName}.");
                }
                newObj = prop.GetValue(obj);
            }

            if (newObj == null)
            {
                // This is as far as we can go
                return new FieldIdentifier(obj, nextToken);
            }

            obj = newObj;
        }
    }
}
        </CodeSnippet>

        

        <CodeSnippet CssClass="language-razor">
@@using System.ComponentModel.DataAnnotations
@@using FluentValidation

&lt;EditForm Model="@@exampleModel" OnValidSubmit="@@HandleValidSubmit"&gt;
    &lt;FluentValidator TValidator="FluentExampleModelValidator"/&gt;
    &lt;ValidationSummary /&gt;

    &lt;InputText @@bind-Value="exampleModel.Name" /&gt;
               
    &lt;ValidationMessage For=@@(() =&gt; exampleModel.Name)/&gt;

    &lt;button type="submit"&gt;Submit&lt;/button&gt;

    &lt;p&gt;
        @@message
    &lt;/p&gt;
&lt;/EditForm&gt;

@@code {
    public class FluentExampleModel
    {
        public string Name { get; set; } = string.Empty;
    }

    public class FluentExampleModelValidator : AbstractValidator&lt;FluentExampleModel&gt;
    {
        public FluentExampleModelValidator()
        {
            RuleFor(x =&gt; x.Name)
            .NotEmpty()
            .WithMessage("Name is required.")
            .MaximumLength(10)
            .WithMessage("Name is too long.");
        }
    }

    private FluentExampleModel exampleModel = new();
    private string? message;

    private void HandleValidSubmit()
    {
        message = "HandleValidSubmit called";

        // Process the valid form
    }
}
        </CodeSnippet>

        <DemoSnippet Title="Fluent Validation Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                To demonstrate how an <Highlight>EditForm</Highlight> component works with <Highlight>Fluent Validation</Highlight> 
            </p>
            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Consider the above <Highlight>FluentExampleModel</Highlight> type.</li>
                <li>Several of Blazor's built-in form components.</li>
                <li>
                    A <Highlight>FluentExampleModelValidator</Highlight> is created and that has necessary rules defined. 
                    The <Highlight>Name</Highlight> property is chained with the <Highlight>NotEmpty()</Highlight> rule and error 
                    message and again chained with <Highlight>MaximumLength(10)</Highlight> maximum string length limit and error message.
                </li>
                <li>
                    The <Highlight>HandleValidSubmit</Highlight> method is assigned to <Highlight>OnValidSubmit</Highlight>. 
                    The handler is called if the form passes validation.
                </li>
                <li>
                    The data annotations validator (<Highlight>FluentValidator</Highlight> component) attaches validation support using 
                    fluent validation rules:
                    <ol class="[ list-decimal ] [ ml-4 ]">
                        <li>
                            If the &lt;input&gt; form field is left blank when the <strong><Highlight>Submit</Highlight></strong> button is 
                            selected, an error appears in the validation summary (<Highlight>ValidationSummary</Highlight> component) 
                            ("<Highlight>The Name field is required.</Highlight>") and <Highlight>HandleValidSubmit</Highlight> 
                            is <strong>not</strong> called.
                        </li>
                        <li>
                            If the &lt;input&gt; form field more than ten characters when the <strong><Highlight>Submit</Highlight></strong> 
                            button is selected, an error appears in the validation summary (<Highlight>ValidationSummary</Highlight> component) 
                            ("<Highlight>Name is too long.</Highlight>") and <Highlight>HandleValidSubmit</Highlight> 
                            is <strong>not</strong> called.
                        </li>
                        <li>
                            If the &lt;input&gt; form field contains a valid value when the <strong><Highlight>Submit</Highlight></strong> 
                            button is selected, <Highlight>HandleValidSubmit</Highlight> is called.
                        </li>
                    </ol>
                </li>
            </ol>
            <br />
            <div>
                <FluentValidationDemo></FluentValidationDemo>
            </div>
        </DemoSnippet>

        

        <p>
            <strong>
                Note that I use the above method in my production apps and it works well as of now. But there are several third party libraries you can use to 
                do this as mentioned in <NavLink href="https://docs.fluentvalidation.net/en/latest/blazor.html" target="_blank">Fluent Validation official site</NavLink>:
            </strong>
            <ul>
                <li><NavLink href="https://github.com/Blazored/FluentValidation" target="_blank">Blazored.FluentValidation</NavLink></li>
                <li><NavLink href="https://github.com/mrpmorris/blazor-validation" target="_blank">Blazor-Validation</NavLink></li>                
                <li><NavLink href="https://github.com/ryanelian/FluentValidation.Blazor" target="_blank">Accelist.FluentValidation.Blazor</NavLink></li>                
                <li><NavLink href="https://github.com/Liero/vNext.BlazorComponents.FluentValidation" target="_blank">vNext.BlazorComponents.FluentValidation</NavLink></li>
            </ul>
        </p>
        
        <h3 id="summary">Summary</h3>

        <p>
            In this article, we learn't how to validate data collected using <Highlight>Forms</Highlight> in blazor application using various 
            techniques like <Highlight>DataAnnotationsValidator</Highlight> using .NET's built in Data Annotation Validation Attrinutes and 
            <Highlight>FluentValidator</Highlight> using FluentValidation Library and how to display the error messages and feedback to user.
            DataAnnotations Validator is suffice for simple scenarios but for complex scenarios, I'd recommend FluentValidator.
        </p>
    </ContentBody>
</Content>