@inherits ThemeBase

<section id="theme">
    <div class="dropdown @(MenuCollapsed ? null : "is-active")" @onclick="ToggleMenu" @onfocusout="FocusOutHandler">
        <div class="dropdown-trigger">
            <button class="button [ flex items-center ]" aria-haspopup="true" aria-controls="theme-menu">
                <img src="@($"icons/{Icon}.svg")" alt="Theme" height="25" width="25" />
            </button>
        </div>
        <div class="dropdown-menu" id="theme-menu" role="menu">
            <div class="dropdown-content">
                <button type="button" class="dropdown-item [ flex items-center ]" @onmousedown="@(_ => SetTheme(DisplayMode.Light))">
                    <img src="icons/brightness-up.svg" alt="Light" height="25" width="25" onload="SVGInject(this)" />
                    <p class="[ space-x-1 ]">Light</p>
                </button>
                <button type="button" class="dropdown-item [ flex items-center ]" @onmousedown="@(_ => SetTheme(DisplayMode.Dark))">
                    <img src="icons/moon.svg" alt="Dark" height="20" width="20" onload="SVGInject(this)" />
                    <p class="[ space-x-1 ]">Dark</p>
                </button>
                <button type="button" class="dropdown-item [ flex items-center ]" @onmousedown="@(_ => SetTheme(DisplayMode.System))">
                    <img src="icons/device-desktop.svg" alt="System" height="20" width="20" onload="SVGInject(this)" />
                    <p class="[ space-x-1 ]">System</p>
                </button>
            </div>
        </div>
    </div>
</section>