@page "/blogs/unit-testing-controllers-in-asp-net-webapi"
@inherits BasePage

<Content FileName=@nameof(UnitTestingControllersInASPNET)>
    <ContentBody>
        <p>
            In this article, let's learn about how to unit test <Highlight>Controllers</Highlight> in <Highlight>WebAPI</Highlight> in ASP.NET Core.
        </p>

        <h3>Table of Contents</h3>

        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#why-unit-testing")" Match="NavLinkMatch.All">
                    Why Unit Testing?
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#what-is-a-controller")" Match="NavLinkMatch.All">
                    What is a Controller?
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#unit-testing-controller")" Match="NavLinkMatch.All">
                    Unit Testing Controller
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#verifying-action-result")" Match="NavLinkMatch.All">
                    Verifying Action Result
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#verifying-model-type")" Match="NavLinkMatch.All">
                    Verifying Model Type
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#verifying-model-content")" Match="NavLinkMatch.All">
                    Verifying Model Content
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#combining-all-together")" Match="NavLinkMatch.All">
                    Combining All Together
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>

        <p>
            In this article, we will focus on unit testing <Highlight>thick controllers</Highlight>, which are controllers that contain behavior suitable for 
            testing. While it's ideal to start with thin controllers, it's not always possible, especially when working with existing projects or teams that have different 
            design decisions. Writing pragmatic unit tests for thick controllers can greatly improve the application's reliability.
        </p>

        

        <h3 id="why-unit-testing">Why Unit Testing ?</h3>

        <p>
            <Highlight>Unit testing</Highlight> allows developers to <Highlight>verify the behavior and logic of individual units of code in isolation</Highlight>. 
            By writing tests, you can ensure that your code functions correctly and remains reliable even after making changes or adding new features. Unit tests help catch 
            bugs early in the development process and provide confidence in the correctness of the code.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/implementing-tdd-in-csharp-dotnet" Match="NavLinkMatch.All">Implementing TDD in C# .Net</NavLink>.
        </p>

        

        <h3 id="what-is-a-controller">What is a Controller ?</h3>

        <p>
            When it comes to testing <Highlight>API controllers</Highlight> in ASP.NET Core, it's important to consider the <Highlight>behavior contained</Highlight> 
            within the controllers. Controllers can be categorized as <Highlight>thick</Highlight> or <Highlight>thin</Highlight>. Thick controllers 
            contain logic and behavior that can be tested, such as <Highlight>model state checks, database calls, mapping code, and conditional code</Highlight>. 
            On the other hand, thin controllers delegate the implementation of behavior to other components and typically <Highlight>don't require unit testing</Highlight>.
        </p>

        

        <h3 id="unit-testing-controller">Unit Testing Controller</h3>

        <p>
            To test API controllers in ASP.NET Core, it's crucial to isolate the controller's behavior from <Highlight>external dependencies, such as model binding, 
            filters, and routing</Highlight>. Unit testing should focus on testing the controller's behavior itself, avoiding testing the ASP.NET Core framework.
        </p>

        

        <h3 id="verifying-action-result">Veriyfing Action Result</h3>

        <p>
            One aspect of testing API controllers is verifying the type of <Highlight>ActionResult</Highlight> returned from a specific action. In many cases, 
            <Highlight>ActionResult&lt;T&gt;</Highlight> is used as the <Highlight>return</Highlight> type, allowing for flexibility in returning 
            different types of <Highlight>action results</Highlight>. To test the <Highlight>ActionResult</Highlight> type, you can 
            <Highlight>assert</Highlight> that the returned <Highlight>result</Highlight> is of the expected type, such as 
            <Highlight>OkObjectResult</Highlight>, <Highlight>NotFoundObjectResult</Highlight>, or <Highlight>BadRequestObjectResult</Highlight>.
        </p>

        <p>
            Here's an example of testing the type of ActionResult returned from the <Highlight>GetBlogs</Highlight> action:
        </p>

        <CodeSnippet CssClass="language-csharp">
[Fact]
public void GetBlogs_GetAction_MustReturnOkObjectResult()
{
    // Arrange
    var blogsServiceMock = new Mock&lt;IBlogsService&gt;();
    blogsServiceMock.Setup(e =&gt; e.FetchBlogsAsync())
        .ReturnsAsync(new List&lt;Blog&gt;());

    var controller = new BlogsController(blogsServiceMock.Object, null);

    // Act
    var result = controller.GetBlogs();

    // Assert
    var actionResult = Assert.IsType&lt;ActionResult&lt;IEnumerable&lt;BlogDto&gt;&gt;&gt;(result);
    Assert.IsType&lt;OkObjectResult&gt;(actionResult.Result);
}
        </CodeSnippet>

        

        <h3 id="verifying-model-type">Veriyfing Model Type</h3>

        <p>
            Another important aspect of testing API controllers is verifying the expected <Highlight>model type</Highlight> returned by the action. The model 
            type is the <Highlight>generic type</Highlight> parameter of the <Highlight>ActionResult&lt;T&gt;</Highlight>. You can use the 
            <Highlight CssClasses="[ break-all ]">Assert.IsAssignableFrom</Highlight> method to check if the returned model is assignable to the expected type.
        </p>

        <p>
            For example, let's verify that the returned model from the <Highlight>GetBlogs</Highlight> action is of type 
            <Highlight>IEnumerable&lt;BlogDto&gt;</Highlight>:
        </p>

        <CodeSnippet CssClass="language-csharp">
[Fact]
public void GetBlogs_GetAction_MustReturnIEnumerableOfBlogDtoAsModelType()
{
    // Arrange
    var blogsServiceMock = new Mock&lt;IBlogsService&gt;();
    blogsServiceMock.Setup(e =&gt; e.FetchBlogsAsync())
        .ReturnsAsync(new List&lt;Blog&gt;());
		
    var controller = new BlogsController(blogsServiceMock.Object, null);

    // Act
    var result = controller.GetBlogs();

    // Assert
    var actionResult = Assert.IsType&lt;ActionResult&lt;IEnumerable&lt;BlogDto&gt;&gt;&gt;(result);
    Assert.IsAssignableFrom&lt;IEnumerable&lt;BlogDto&gt;&gt;(((OkObjectResult)actionResult.Result).Value);
}
        </CodeSnippet>

        

        <h3 id="verifying-model-content">Veriyfing Model Content</h3>

        <p>
            Finally, we're going to verify whether the returned <Highlight>DTO</Highlight>, in our case an <Highlight>IEnumerable&lt;BlogDto&gt;</Highlight>, 
            is correctly constructed by the action. We expect it to contain as many objects as were inputted, and in our case, we input three blogs. So what we want to test is 
            that we end up with three blog DTOs.
        </p>

        <p>
            <Highlight CssClasses="[ break-all ]">GetBlogs_GetActionMustReturnNumberOfInputtedBlogs</Highlight>. There is, again, nothing to arrange. To act, we 
            execute the <Highlight>GetBlogs</Highlight> method again. And to assert, we first need to get a hold of the action result. We know how to do that by 
            now, as it's the same as what we did in the two previous demos. Once we've got that action result, we can cast the result of the action result to an 
            <Highlight>OkObjectResult</Highlight> and get the <Highlight>Value</Highlight> property. Once we have that value, we can cast it to an 
            <Highlight>IEnumerable&lt;BlogDto&gt;</Highlight> and <Highlight>count</Highlight> it.
        </p>

        <CodeSnippet CssClass="language-csharp">
[Fact]
public void GetBlogs_GetActionMustReturnNumberOfInputtedBlogs()
{
    // Arrange
    var blogsServiceMock = new Mock&lt;IBlogsService&gt;();
    blogsServiceMock.Setup(e =&gt; e.FetchBlogsAsync())
        .ReturnsAsync(new List&lt;Blog&gt;() { new Blog { Name = "I Love DotNet Blog" } });
		
    var controller = new BlogsController(blogsServiceMock.Object, null);

    // Act
    var result = controller.GetBlogs();

    // Assert
    var actionResult = Assert.IsType&lt;ActionResult&lt;IEnumerable&lt;BlogDto&gt;&gt;&gt;(result);
    Assert.Equal(1, ((IEnumerable&lt;BlogDto&gt;)((OkActionResult)actionResult).Value).Count());
}
        </CodeSnippet>

        

        <h3 id="combining-all-together">Combining All Together</h3>

        <p>
            So far we focused on testing individual aspects of the controller's behavior. However, it is often useful to combine multiple asserts related to the same action in 
            one unit test. This not only makes the test code more concise but also provides a clearer overview of the expected behavior.
        </p>

        <p>
            To combine the asserts and fix the <Highlight>null</Highlight> reference issues, we can make use of the <Highlight>ActionResult&lt;T&gt;</Highlight> 
            type's pattern matching capabilities. This allows us to simplify the code and handle <Highlight>null</Highlight> values more effectively.
        </p>

        <p>
            Let's update our test to incorporate these improvements:
        </p>

        <CodeSnippet CssClass="language-csharp">
[Fact]
public void GetBlogs_GetAction_MustReturnOkObjectResult()
{
    // Arrange
    var blogsServiceMock = new Mock&lt;IBlogsService&gt;();
    blogsServiceMock.Setup(e =&gt; e.FetchBlogsAsync())
        .ReturnsAsync(new List&lt;Blog&gt;() { new Blog { Name = "I Love DotNet Blog" } });

    var controller = new BlogsController(blogsServiceMock.Object, null);

    // Act
    var result = controller.GetBlogs();

    // Assert
    var actionResult = Assert.IsType&lt;ActionResult&lt;IEnumerable&lt;BlogDto&gt;&gt;&gt;(result);
    var okObjectResult = Assert.IsType&lt;OkObjectResult&gt;(actionResult.Result);
    var dtos = Assert.IsAssignableFrom&lt;IEnumerable&lt;BlogDto&gt;&gt;(okObjectResult.Value);
    Assert.Equal(1, dtos.Count());
}
        </CodeSnippet>

        

        <h3 id="summary">Summary</h3>

        <p>
            In this article, we explored the process of <Highlight>unit testing controllers</Highlight> in ASP.NET Core. We discussed the importance of unit 
            testing and when it is suitable to test API controllers. We focused on testing the <Highlight>behavior of the controllers</Highlight> and provided 
            examples of <Highlight>verifying ActionResult types, model types, and model content</Highlight> using C#.
        </p>

        <p>
            Unit testing controllers allows us to ensure that the expected behavior is correctly implemented and provides valuable feedback on the reliability of our application. 
            By isolating the tests and using mocks or framework techniques, we can focus solely on testing our code.
        </p>
    </ContentBody>
</Content>