@page "/blogs/perform-background-workloads-in-hosted-service-using-channels-in-asp-net-webapi"
@inherits BasePage

<Content FileName=@nameof(UsingChannelsToPerformBackgroundWorkloadInHostedService)>
    <ContentBody>
        <p>
            In this article, let's learn about how to perform background workloads with the help of <Highlight>Channels</Highlight> inside 
            <Highlight>Hosted Service</Highlight> in <Highlight>WebAPI</Highlight> in ASP.NET Core.
        </p>

        <h3>Table of Contents</h3>

        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#what-are-channels")" Match="NavLinkMatch.All">
                    What are Channels?
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#what-is-hosted-service")" Match="NavLinkMatch.All">
                    What is Hosted Service?
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#performing-background-workloads-in-hosted-service")" Match="NavLinkMatch.All">
                    Performing Background Workloads in Hosted Service
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>

        <p>
            <Highlight>I got an requirement to do data migration from one of my client and the constraint they have is to do it via an endpoint in web api
            </Highlight>. Initially I thought it might be simple data migration but then I realized that it is not just a simple data migration but it is 
            a huge data migration. Though we recommended alternate approached the client was not ready to touch production database data outside the application. 
            So we decided to do it via an web api endpoint. But the problem is that the data migration will take more than 30 minutes to complete and the request 
            will timeout. So upon further analysis I came to know about <Highlight>Channels</Highlight> and 
            <Highlight>Hosted Service</Highlight> in ASP.NET Core. Before we start lets understand what are channels and hosted service. This 
            problem provides an example of a potential use case for a hosted service.
        </p>

        <p>
            Other use cases include:
        </p>

        <ul>
            <li><Highlight>Processing uploaded excel in background</Highlight></li>
            <li><Highlight>Sending emails in background</Highlight></li>
            <li><Highlight>Other long running operations</Highlight>, etc</li>
        </ul>

        

        <h3 id="what-are-channels">What are Channels ?</h3>

        <p>
            A channel is a synchronisation concept which supports passing data between <Highlight>producers</Highlight> and 
            <Highlight>consumers</Highlight> <Highlight>concurrently</Highlight>. One or many producers can 
            <Highlight>write</Highlight> data into the channel, which are then <Highlight>read</Highlight> by one or many consumers. 
            Logically a channel is effectively an efficient, <Highlight>thread-safe queue</Highlight>. Channels are available under 
            <Highlight CssClasses="[ break-all ]">System.Threading.Channels</Highlight> namespace
        </p>

        <p>
            To know more about <Highlight>Channels</Highlight> is outside the scope of this article. I'll write a separate article on channels in 
            ASP.NET Core. For now lets walkthrough how to use Channels.
        </p>

        

        <CodeSnippet CssClass="language-csharp">
using System.Threading.Channels;

namespace ILoveDotNet.HostedServices;

public class DataMigrationChannel
{
    private const int MaxMessagesInChannel = 10;
    private readonly Channel&lt;bool&gt; channel;

    public DataMigrationChannel()
    {
        var options = new BoundedChannelOptions(MaxMessagesInChannel)
        {
            SingleWriter = true,
            SingleReader = true
        };

        channel = Channel.CreateBounded&lt;bool&gt;(options);
    }

    public async Task&lt;bool&gt; MigrateData(bool start, CancellationToken cancellationToken)
    {
        while (await channel.Writer.WaitToWriteAsync(cancellationToken) &amp;&amp; !cancellationToken.IsCancellationRequested)
        {
            if (channel.Writer.TryWrite(start))
            {
                return true;
            }
        }

        return false;
    }

    public IAsyncEnumerable&lt;bool&gt; ReadAllAsync(CancellationToken cancellationToken) =&gt; channel.Reader.ReadAllAsync(cancellationToken);
}
        </CodeSnippet>

        <p>
            In the above code, the <Highlight>DataMigrationChannel</Highlight> <Highlight>class</Highlight> provides a 
            <Highlight>bounded channel</Highlight> for communication between <Highlight>producers</Highlight> and 
            <Highlight>consumers</Highlight>. Producers can add items to the channel using the <Highlight>MigrateData</Highlight> 
            method, and consumers can read all the items from the channel <Highlight>asynchronously</Highlight> using the 
            <Highlight>ReadAllAsync</Highlight> method. The class ensures that <Highlight>only one writer and one reader</Highlight> 
            can access the channel at a time and provides a limit on the number of messages that can be stored in the channel.
        </p>

        

        <h3 id="what-is-hosted-service">What is Hosted Service ?</h3>

        <p>
            <Highlight>Hosted services</Highlight> in ASP.NET Core have been available since <Highlight>version 2.1</Highlight>, and 
            they support <Highlight>performing background tasks outside of the main requests flow</Highlight>. The best way to understand when and 
            where hosted services can be applied is to begin using them. In this article, we'll dive straight in and create our first hosted service. Hosted 
            services are based on the <Highlight>abstract</Highlight> concept of a <Highlight>background service</Highlight>. The 
            terms <Highlight>hosted service</Highlight> and <Highlight>background service</Highlight> are often used interchangeably. 
            I'll refer to them by both names throughout this article. Hosted services are available under 
            <Highlight CssClasses="[ break-all ]">Microsoft.Extensions.Hosting</Highlight> namespace.
        </p>

        <p>
            To know more about <Highlight>Hosted Service</Highlight> or <Highlight>Background Service</Highlight> is outside the scope 
            of this article. I'll write a separate article on Background Services in ASP.NET Core. For now lets understand walkthrough how to use Hosted Service.
        </p>

        

        <CodeSnippet CssClass="language-csharp">
namespace ILoveDotNet.HostedServices;

public class DataMigrationService : BackgroundService
{
    private readonly DataMigrationChannel dataMigrationChannel;
    private readonly ILogger&lt;DataMigrationService&gt; logger;
    private readonly IServiceProvider serviceProvider;

    public DataMigrationService(
        DataMigrationChannel dataMigrationChannel,
        ILogger&lt;DataMigrationService&gt; logger,
        IServiceProvider serviceProvider)
    {
        this.dataMigrationChannel = dataMigrationChannel;
        this.logger = logger;
        this.serviceProvider = serviceProvider;
    }

    protected override async Task ExecuteAsync(CancellationToken stoppingToken)
    {
        using var scope = serviceProvider.CreateScope();
        var unitOfWork = scope.ServiceProvider.GetRequiredService&lt;IUnitOfWork&gt;();

        await foreach (var start in dataMigrationChannel
                                       .ReadAllAsync(stoppingToken)
                                       .WithCancellation(stoppingToken))
        {
            logger.LogInformation("Starting Data Migration");

            try
            {
                // do migration via unit of work...
            }
            catch (Exception ex)
            {
                logger.LogCritical("Data Migration Failed...");
            }
            
            logger.LogInformation("Data Migration Completed Successfully");
        }
    }
}
        </CodeSnippet>

        <p>
            In the above code, the <Highlight>DataMigrationService</Highlight> <Highlight>class</Highlight> extends 
            <Highlight>BackgroundService</Highlight> and is responsible for executing data migration tasks <Highlight>asynchronously</Highlight> 
            in the background. It reads items from the <Highlight>dataMigrationChannel</Highlight> using an 
            <Highlight>IAsyncEnumerable&lt;bool&gt;</Highlight>, performs the migration logic, and logs information about the start and completion of the 
            migration using the provided logger. The service relies on <Highlight>dependency injection</Highlight> to access the necessary dependencies, 
            such as the <Highlight>DataMigrationChannel</Highlight>, <Highlight>logger</Highlight>, and 
            <Highlight>service provider</Highlight>.
        </p>

        

        <h3 id="performing-background-workloads-in-hosted-service">Performing Background Workloads in Hosted Service</h3>

        <p>
            So far we learn't what are channels and hosted service. Now lets see how to coordinate request and hosted service to perform background workloads. 
            We'll use <Highlight CssClasses="[ break-all ]">System.Threading.Channels</Highlight> to transfer data between requests and hosted 
            services. Our goal will be to offload a long-running processing workload to a hosted service so that we improve the response time for requests 
            received. The user will simply make a request to the API, the API will register a request in Channels and the API will return a response immediately. 
            The hosted service will then process the request in the background.
        </p>

        <p>
            Before we look at the endpoint code, we need to register the Channel and Hosted Service in the <Highlight>Program</Highlight> class 
            as shown below. Note that <Highlight>DataMigrationChannel</Highlight> needs to be registered as 
            <Highlight>Singleton</Highlight> service.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/dependency-injection-lifetimes-in-dotnet" Match="NavLinkMatch.All">Dependency Injection Lifetimes in .NET</NavLink>.
        </p>

        <CodeSnippet CssClass="language-csharp">
builder.Services.AddHostedService&lt;DataMigrationService&gt;();
builder.Services.AddSingleton&lt;DataMigrationChannel&gt;();
        </CodeSnippet>

        

        <CodeSnippet CssClass="language-csharp">
namespace ILoveDotNet.API;

[Produces(MediaTypeNames.Application.Json)]
[ApiController]
[ApiVersion("1.0")]
public class DataMigration : ControllerBase
{
    private readonly DataMigrationChannel dataMigrationChannel;

    public DataMigration(DataMigrationChannel dataMigrationChannel)
    {
        this.dataMigrationChannel = dataMigrationChannel;
    }

    [HttpPut("api/dataMigration", Name = "DataMigration")]
    [SwaggerOperation(
        Summary = "Migrate Data",
        Description = "Migrate Data",
        OperationId = "DataMigration",
        Tags = new[] { "MigrationEndpoints" })
    ]
    [ProducesResponseType(StatusCodes.Status204NoContent)]
    public async Task&lt;ActionResult&gt; HandleAsync(CancellationToken cancellationToken = default)
    {
        await dataMigrationChannel.MigrateData(true, cancellationToken);

        return NoContent();
    }
}
        </CodeSnippet>

        <p>
            In the above code, the <Highlight>DataMigration</Highlight> <Highlight>class</Highlight> represents an 
            <Highlight>API controller</Highlight> for handling data migration requests. It exposes a single 
            <Highlight>HTTP PUT</Highlight> action method that triggers the data <Highlight>migration</Highlight> process by invoking 
            the <Highlight>MigrateData</Highlight> method on the injected <Highlight>DataMigrationChannel</Highlight> instance.
        </p>

        

        <h3 id="summary">Summary</h3>

        <p>
            In this article we learn't how to perform background workloads outside request life cycle using channels in hosted services in ASP.NET web api. We 
            started with use case and under stood alternate use cases and then we learn't what are channels and hosted service. Then we learn't how to coordinate 
            request and hosted service to perform background workloads. I hope you enjoyed reading this article. Now it's time to extend the idea like connecting 
            producer and consumer via cloud and start implementing for similar use cases in your projects.
        </p>
    </ContentBody>
</Content>