<section class="[ flex flex-row ] [ space-x-1 ]">
    <table class="[ table-fixed border-collapse ] [ bg-white ] [ border-2 ] [ dark:bg-black dark:border-slate-500 ] [ mt-2 ] [ w-full ]">
        <thead>
            <tr class="[ bg-gray-100 ] [ dark:bg-slate-500 ]">
                <th colspan="4" class="[ border-2 ] [ dark:border-slate-600 ] [ p-2 ]">Products</th>
            </tr>
            <tr class="[ bg-gray-100 ] [ dark:bg-slate-500 ]">
                <th class="[ border-2 ] [ dark:border-slate-600 ] [ p-2 ]">Id</th>
                <th class="[ border-2 ] [ dark:border-slate-600 ] [ p-2 ]">Name</th>
                <th class="[ border-2 ] [ dark:border-slate-600 ] [ p-2 ]">Price</th>
                <th class="[ border-2 ] [ dark:border-slate-600 ] [ p-2 ]">Total Sale</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td class="[ border-2 ] [ dark:border-slate-700 ] [ p-2 ]">@product.Id</td>
                    <td class="[ border-2 ] [ dark:border-slate-700 ] [ p-2 ]">@product.Name</td>
                    <td class="[ border-2 ] [ dark:border-slate-700 ] [ p-2 ]">@product.Price</td>
                    <td class="[ border-2 ] [ dark:border-slate-700 ] [ p-2 ]">@product.TotalSale</td>
                </tr>
            }
        </tbody>
    </table>
    <table class="[ table-fixed border-collapse ] [ bg-white ] [ border-2 ] [ dark:bg-black dark:border-slate-500 ] [ mt-2 ] [ w-full ]">
        <thead>
            <tr class="[ bg-gray-100 ] [ dark:bg-slate-500 ]">
                <th colspan="3" class="[ border-2 ] [ dark:border-slate-600 ] [ p-2 ]">Sales</th>
            </tr>
            <tr class="[ bg-gray-100 ] [ dark:bg-slate-500 ]">
                <th class="[ border-2 ] [ dark:border-slate-600 ] [ p-2 ]">Sale Id</th>
                <th class="[ border-2 ] [ dark:border-slate-600 ] [ p-2 ]">Product Id</th>
                <th class="[ border-2 ] [ dark:border-slate-600 ] [ p-2 ]">Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in sales)
            {
                <tr>
                    <td class="[ border-2 ] [ dark:border-slate-700 ] [ p-2 ]">@sale.Id</td>
                    <td class="[ border-2 ] [ dark:border-slate-700 ] [ p-2 ]">@sale.ProductId</td>
                    <td class="[ border-2 ] [ dark:border-slate-700 ] [ p-2 ]">@sale.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</section>

<button type="button" class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="HandleForEachCustomMethod">
    ForEach with Custom Method
</button>

<button type="button" class="[ bg-fuchsia-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="Reset">
    Reset
</button>

@code
{
    private List<Product> products = new ProductSource().Products.ToList();
    private IEnumerable<Sale> sales = new SaleSource().Sales;

    private void HandleForEachCustomMethod()
    {
        products.ForEach(product => product.TotalSale = CalculateTotalSalesForProduct(sales, product));
        products = products.Where(product => product.TotalSale > 0).ToList();
    }

    private decimal CalculateTotalSalesForProduct(IEnumerable<Sale> sales, Product product)
    {
        return sales.Where(sale => sale.ProductId == product.Id).Sum(sale => sale.Quantity * product.Price);        
    }

    private void Reset()
    {
        products = new ProductSource().Products.ToList();
        sales = new SaleSource().Sales;
    }
}