@inherits ThumbnailBase
@using Humanizer

<section class="[ flex flex-col justify-between ] [ h-full ]">
    <header>
        <NavLink href="@ContentUrl">
            <figure>
                <img src="@PosterUrl" class="[ w-full ]" alt="@AltText" loading="lazy" />
            </figure>
        </NavLink>
    </header>
    <main class="[ grow flex ]">
        <aside class="[ basis-1/6 flex items-center ]">
            <NavLink href="@($"channels/{IconAlt.ToLower()}")">
                <figure>
                    <img src="@IconUrl" alt="@IconAlt" loading="lazy" height="48" width="48" class="[ rounded-full ]" />
                </figure>
            </NavLink>
        </aside>
        <article class="[ grow flex flex-col justify-between basis-5/6 ] [ dark:text-white ] [ mt-2 ]">
            <NavLink href="@ContentUrl">
                <h2 class="[ font-medium break-words hover:underline ]">@Title</h2>
            </NavLink>
            <section class="[ flex justify-between ]">
                <p>@Author</p>
                <time datetime="@CreatedOn.ToString("yyyy-MM-dd HH-mm-ss")">@CreatedOn.Humanize()</time>
            </section>
        </article>
    </main>
</section>