@inherits ThumbnailBase
@using Humanizer

@if (!Swap)
{
    <section class="[ flex flex-col justify-between ] [ h-full ]">
        <header>
            <NavLink href="@ContentUrl">
                <figure>
                    <img src="@PosterUrl" class="[ w-full ]" alt="@AltText" loading="lazy" />
                </figure>
            </NavLink>
        </header>
        <main class="[ grow flex ]">
            <aside class="[ basis-1/6 flex items-center ]">
                <NavLink href="@($"channels/{IconAlt.ToLower()}")">
                    <figure>
                        <img src="@IconUrl" alt="@IconAlt" loading="lazy" height="48" width="48" class="[ rounded-full ]" />
                    </figure>
                </NavLink>
            </aside>
            <article class="[ grow flex flex-col justify-between basis-5/6 ] [ dark:text-white ] [ mt-2 ]">
                <NavLink href="@ContentUrl">
                    <h2 class="[ font-medium break-words hover:underline ]">@Title</h2>
                </NavLink>
                <section class="[ flex justify-between ]">
                    <p>@Author</p>
                    <time datetime="@CreatedOn.ToString("yyyy-MM-dd HH-mm-ss")">@CreatedOn.Humanize()</time>
                </section>
            </article>
        </main>
    </section>
}
else
{
    <NavLink href="@ContentUrl">
        <section class="[ flex ] [ space-x-2 ]">
            <header class="[ basis-2/5 ]">
                <figure>
                    <img src="@PosterUrl" alt="@AltText" loading="lazy" />
                </figure>
            </header>
            <main class="[ basis-3/5 ]">
                <article class="[ flex flex-col ] [ dark:text-white ]">
                    <h2 class="[ font-medium text-sm break-words leading-tight ]">@Title</h2>
                    <section class="[ flex flex-col ]">
                        <p class="[ text-xs dark:text-neutral-400 ]">@Author</p>
                        <time class="[ text-xs dark:text-neutral-400 ]" datetime="@CreatedOn.ToString("yyyy-MM-dd HH-mm-ss")">@CreatedOn.Humanize()</time>
                    </section>
                </article>
            </main>
        </section>
    </NavLink>
}