@page "/blogs/structural-design-pattern-decorator"
@using DesignPatternDemoComponents.Decorator
@inherits BasePage

<Content FileName=@nameof(Decorator)>
    <ContentBody>
        <p>
            In this article, let's learn about <Highlight>Decorator Design Pattern</Highlight> in .NET.
        </p>

        <h3>Table of Contents</h3>
        
        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#structure")" Match="NavLinkMatch.All">
                    Structure
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#use-cases")" Match="NavLinkMatch.All">
                    Use Cases
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#advantages")" Match="NavLinkMatch.All">
                    Advantages
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#disadvantages")" Match="NavLinkMatch.All">
                    Disadvantages
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#related-patterns")" Match="NavLinkMatch.All">
                    Related Patterns
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>
        
        <p>
            The <Highlight>decorator</Highlight> pattern is a design pattern that allow <Highlight>dynamically attach additional 
            responsibilities to an object</Highlight>, providing a <Highlight>flexible alternative to subclassing</Highlight> for 
            extending functionality. Also referred to as a <Highlight>wrapper</Highlight>, the decorator pattern allows for the 
            <Highlight>dynamic addition of responsibilities to an object at runtime</Highlight>.
        </p>

        <p>
            By using the decorator pattern, we can <Highlight>avoid violating Single Responsibility Principle</Highlight>. Our classes would get 
            littered with code that doesn't necessarily belong there. That's where the decorator pattern comes in.
        </p>

        

        <h3 id="structure">Structure</h3>
        
        <dl>
            <dt><Highlight>Component (IRepository):</Highlight></dt>
            <dd>Defines the <Highlight>interface</Highlight> for objects that can have responsibilities added to them.</dd>

            <dt><Highlight>Concrete Component (DatabaseRepository):</Highlight></dt>
            <dd>Defines the <Highlight>logic</Highlight> to read data from database.</dd>

            <dt><Highlight>Decorator (RepositoryDecoratorBase):</Highlight></dt>
            <dd>
                An <Highlight>abstract class</Highlight> implementing the same <Highlight>interface</Highlight> as the 
                <Highlight>component</Highlight> and maintains a reference to a <Highlight>component object</Highlight>. It 
                defines an <Highlight>interface</Highlight> that conforms to the component's <Highlight>interface</Highlight>.
            </dd>

            <dt><Highlight>Concrete Decorator (CachedRepositoryDecorator):</Highlight></dt>
            <dd>Implements the decorator <Highlight>abstract class</Highlight> and adds specific behavior or state to the component.</dd>
        </dl>

        

        <CodeSnippet CssClass="language-csharp">
// Component
public interface IRepository
{
    string ReadData();
}

// Concrete Component
public class DatabaseRepository : IRepository
{
    public string ReadData()
    {
        return "Data From Database";
    }
}

// Decorator
public abstract class RepositoryDecoratorBase(IRepository repository) : IRepository
{
    public virtual string ReadData()
    {
        return repository.ReadData();
    }
}

// Concrete Decorator
public class CachedDatabaseRepository(IRepository repository) : RepositoryDecoratorBase(repository)
{
    public override string ReadData()
    {
        Random gen = new();
        int prob = gen.Next(100);
        
        if (prob &lt; 20)
        {
            return "Data from Cache";
        }
        
        return base.ReadData();
    }
}
        </CodeSnippet>

        

        <p>
            In the above code,  we're implementing the <Highlight>decorator</Highlight> pattern for a <Highlight>repository</Highlight> 
            system. The <Highlight>IRepository interface</Highlight> defines the base functionality with a <Highlight>ReadData</Highlight> 
            method. The <Highlight>DatabaseRepository class</Highlight> is a <Highlight>concrete component</Highlight> that retrieves data 
            from a database. The <Highlight>RepositoryDecoratorBase abstract class</Highlight> acts as the <Highlight>decorator base</Highlight>, 
            maintaining a reference to a repository and <Highlight>delegating</Highlight> the <Highlight>ReadData</Highlight> method. Finally, 
            the <Highlight>CachedDatabaseRepository class</Highlight> is a <Highlight>concrete decorator</Highlight> that extends the behavior 
            by adding caching logic. If a random probability is less than 20%, it returns cached data; otherwise, it delegates to the base repository's 
            <Highlight>ReadData</Highlight> method. This <Highlight>structure</Highlight> allows <Highlight>dynamic</Highlight> 
            composition of repository behaviors, adding features like caching without modifying the core repository code.
        </p>

        

        <DemoSnippet Title="Decorator Pattern Demo">
            <p>
                Let's try <Highlight>Decorator</Highlight> Demo, Click on the <Highlight>Read via Decorator</Highlight> Button to 
                see the demo on the screen. Click the button multiple times to see the data being read from cache or from database based on cache availability. 
                For demo purpose, radomness is introduced to simulate the cache availability. In reality, it could be based on time.
            </p>
            <CodeSnippet CssClass="language-razor">
&lt;p&gt;Reading Data Using Decoratort : @@_result&lt;/p&gt;

&lt;button type="button"
    class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]"
    @@onclick="HandleDecorator"&gt;
    Read Data via Decorator
&lt;/button&gt;


@@code
{
    private IRepository _cachedDatabaseRepository = new CachedDatabaseRepository(new DatabaseRepository());
    private string? _result;

    private void HandleDecorator()
    {
        _result = _cachedDatabaseRepository.ReadData();
    }
}

            </CodeSnippet>
            <DecoratorDemo></DecoratorDemo>
        </DemoSnippet>

        

        <h3 id="use-cases">Use Cases</h3>

        <ul>
            <li><Highlight>Dynamic Responsibility Addition</Highlight> - When there's a need to add responsibilities to individual objects dynamically at runtime without affecting other objects.</li>
            <li><Highlight>Dynamic Responsibility Removal</Highlight> - When the added responsibilities need to be withdrawn dynamically.</li>
            <li><Highlight>Extension by Subclass is Impractical</Highlight> - When extending functionality through subclassing results in an impractical or impossible solution.</li>
        </ul>

        

        <h3 id="advantages">Advantages</h3>

        <ul>
            <li><Highlight>Flexibility</Highlight> - Dynamically add or remove responsibilities at runtime.</li>
            <li><Highlight>Single Responsibility Principle</Highlight> - Helps adhere to the single responsibility principle by separating concerns.</li>
        </ul>

        

        <h3 id="disadvantages">Disadvantages</h3>

        <p>
            <Highlight>System Litter</Highlight> - This pattern may result in a system with many small, simple classes, potentially increasing the effort required for learning and debugging. Despite 
            these points, the Decorator pattern is a useful starting point because of its simplicity. Finally, let's have a look at related patterns.
        </p>

        

        <h3 id="related-patterns">Related Patterns</h3>

        <ul>
            <li><Highlight>adapter</Highlight> pattern</li>
            <li><Highlight>composite</Highlight> pattern</li>
            <li><Highlight>strategy</Highlight> pattern</li>
        </ul>

        

        <h3 id="summary">Summary</h3>

        <p>
            In this article we learn't about the <Highlight>decorator</Highlight> pattern that provides a <Highlight>flexible</Highlight> 
            way to <Highlight>extend the functionality of objects dynamically at runtime</Highlight>. It promotes flexibility and adherence to the 
            <Highlight>single responsibility principle</Highlight>, although it may lead to a system with <Highlight>many small classes</Highlight>. 
            Understanding its structure and use cases enables developers to leverage its benefits effectively.
        </p>
    </ContentBody>
</Content>