@page "/blogs/structural-design-pattern-facade"
@using DesignPatternDemoComponents.Facade
@inherits BasePage

<Content FileName=@nameof(Facade)>
    <ContentBody>
        <p>
            In this article, let's learn about <Highlight>Facade Design Pattern</Highlight> in .NET.
        </p>

        <h3>Table of Contents</h3>
        
        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#structure")" Match="NavLinkMatch.All">
                    Structure
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#use-cases")" Match="NavLinkMatch.All">
                    Use Cases
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#advantages")" Match="NavLinkMatch.All">
                    Advantages
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#disadvantages")" Match="NavLinkMatch.All">
                    Disadvantages
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#related-patterns")" Match="NavLinkMatch.All">
                    Related Patterns
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>
        
        <p>
            The <Highlight>Facade</Highlight> pattern, a stalwart from the Gang of Four design patterns, serves as a 
            <Highlight>unified interface</Highlight> to a <Highlight>subsystem</Highlight>, simplifying its usage. Imagine a world 
            where operating an entertainment system involves intricate steps—enter the Facade pattern. In this blog, we'll explore its real-life application 
            through a entertainment service, delve into its structure, uncover its use cases, weigh its advantages and disadvantages, touch upon related patterns, 
            and conclude with a concise summary.
        </p>

        

        <h3 id="structure">Structure</h3>
        
        <p>
            The Facade pattern, <Highlight>encapsulated</Highlight> in a facade (like our "entertainment facade"), orchestrates subsystem 
            classes <Highlight>DvdPlayer</Highlight>, <Highlight>Sound System</Highlight>, and 
            <Highlight>Projector</Highlight> service. The facade shields clients from the complexities, acting as a gateway to the subsystem, 
            promoting an <Highlight>organized and manageable</Highlight> structure.
        </p>

        

        <CodeSnippet CssClass="language-csharp">
// Subsystem classes
class DvdPlayer
{
    public void TurnOn()
    {
        Console.WriteLine("DVD Player is ON");
    }

    public void TurnOff()
    {
        Console.WriteLine("DVD Player is OFF");
    }
}

class SoundSystem
{
    public void TurnOn()
    {
        Console.WriteLine("Sound System is ON");
    }

    public void TurnOff()
    {
        Console.WriteLine("Sound System is OFF");
    }
}

class Projector
{
    public void TurnOn()
    {
        Console.WriteLine("Projector is ON");
    }

    public void TurnOff()
    {
        Console.WriteLine("Projector is OFF");
    }
}

// Facade class
class EntertainmentFacade
{
    private DvdPlayer _dvdPlayer;
    private SoundSystem _soundSystem;
    private Projector _projector;

    public EntertainmentFacade()
    {
        _dvdPlayer = new DvdPlayer();
        _soundSystem = new SoundSystem();
        _projector = new Projector();
    }

    public void TurnOnEntertainmentSystem()
    {
        _dvdPlayer.TurnOn();
        _soundSystem.TurnOn();
        _projector.TurnOn();
    }

    public void TurnOffEntertainmentSystem()
    {
        _dvdPlayer.TurnOff();
        _soundSystem.TurnOff();
        _projector.TurnOff();
    }
}

// Client code
class Program
{
    static void Main()
    {
        EntertainmentFacade entertainmentFacade = new EntertainmentFacade();

        // Turn on the entire entertainment system
        entertainmentFacade.TurnOnEntertainmentSystem();

        // Simulate some movie-watching...

        // Turn off the entire entertainment system
        entertainmentFacade.TurnOffEntertainmentSystem();
    }
}
        </CodeSnippet>

        

        <p>
            In the above code snippet, Subsystem Classes <Highlight>DvdPlayer</Highlight>, <Highlight>SoundSystem</Highlight>, and 
            <Highlight>Projector</Highlight> represent individual components of the home entertainment system. Facade Class 
            <Highlight>EntertainmentFacade class</Highlight> acts as a facade, providing simplified methods 
            <Highlight>TurnOnEntertainmentSystem</Highlight> and <Highlight>TurnOffEntertainmentSystem</Highlight>. These methods 
            internally manage the individual components, <Highlight>abstracting</Highlight> away their complexities. Client Code 
            <Highlight>Program</Highlight> creates an instance of <Highlight>EntertainmentFacade</Highlight> and uses its methods to 
            turn on and off the entire entertainment system. The client is shielded from the details of interacting with each subsystem separately. This example 
            demonstrates how the Facade pattern can simplify the usage of a complex system, making it easy for clients to perform common tasks without dealing 
            with the intricacies of individual components.
        </p>

        

        <DemoSnippet Title="Facade Pattern Demo">
            <p>
                Let's try <Highlight>Facade</Highlight> Demo, Click on the <Highlight>Use Entertainment System via Facade</Highlight> 
                Button to see the demo on the screen. Click the button starts the Entertainment system and streams the movie and shuts down the system after 
                the movie is over. For demo purpose the Result is shown in the screen.
            </p>
            <CodeSnippet CssClass="language-razor">
&lt;p&gt;Result from Using Facade : @@_result&lt;/p&gt;

&lt;button type="button"
    class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]"
    @@onclick="HandleFacade"&gt;
    Use Entertainment System via Facade
&lt;/button&gt;

@@code {
    private EntertainmentFacade entertainmentFacade = new EntertainmentFacade();

    private string? _result;

    private void HandleFacade()
    {
        // Turn on the entire entertainment system
        entertainmentFacade.TurnOnEntertainmentSystem();
        _result = "Starting the system...";

        // Simulate some movie-watching...
        _result = "Streaming the movie...";

        // Turn off the entire entertainment system
        entertainmentFacade.TurnOffEntertainmentSystem();
        _result = "Turning off the system...";
    }
}
            </CodeSnippet>
            <FacadeDemo></FacadeDemo>
        </DemoSnippet>

        

        <h3 id="use-cases">Use Cases</h3>

        <ul>
            <li>
                <Highlight>Simplifying Complexity</Highlight> - When dealing with intricate subsystems, the Facade pattern offers a clean, 
                high-level <Highlight>interface</Highlight>, shielding clients from the nitty-gritty details.
            </li>
            <li>
                <Highlight>Decoupling Dependencies</Highlight> - In scenarios with numerous dependencies between clients and implementation classes, 
                introducing a facade <Highlight>breaks the tight coupling</Highlight>, fostering a more flexible design.
            </li>
            <li>
                <Highlight>Integration with Legacy Systems</Highlight> - Facades prove invaluable when bridging new and legacy systems, 
                <Highlight>abstracting</Highlight> away the intricacies of dealing with legacy code.
            </li>
            <li>
                <Highlight>Content Management Systems</Highlight> - Streamlining operations in systems handling diverse content types, such as 
                articles, images, and videos.
            </li>
            <li>
                <Highlight>Multimedia Playback</Highlight> - <Highlight>Abstracting</Highlight> the complexities of supporting various 
                media formats and providing a unified playback control <Highlight>interface</Highlight>.
            </li>
            <li>
                <Highlight>Payment Processing in E-commerce</Highlight> - Facilitating a unified <Highlight>interface</Highlight> for 
                processing payments, irrespective of the underlying payment gateways.
            </li>
        </ul>

        

        <h3 id="advantages">Advantages</h3>

        <ul>
            <li>
                <Highlight>Reduced Client Complexity</Highlight> - Clients interact with a simplified facade, oblivious to the intricate workings of 
                the subsystem.
            </li>
            <li>
                <Highlight>Weak Coupling</Highlight> - Facades promote loose coupling between clients and subsystems, allowing subsystem components 
                to evolve independently.
            </li>
            <li>
                <Highlight>Open-Closed Principle</Highlight> - Clients can easily adapt to changes in subsystem components without modification, 
                adhering to the open-closed principle.
            </li>
        </ul>

        

        <h3 id="disadvantages">Disadvantages</h3>

        <p>
            <Highlight>Potential Overhead</Highlight> - Introducing facades might add a layer, potentially introducing overhead, especially in 
            simpler systems.
        </p>

        

        <h3 id="related-patterns">Related Patterns</h3>

        <ul>
            <li><Highlight>Abstract Factory</Highlight> pattern</li>
            <li><Highlight>Mediator</Highlight> pattern</li>
            <li><Highlight>Adapter</Highlight> pattern</li>
        </ul>

        

        <h3 id="summary">Summary</h3>

        <p>
            In essence, the <Highlight>Facade</Highlight> pattern <Highlight>simplifies</Highlight> the usage of complex subsystems, 
            providing a clean and <Highlight>unified interface</Highlight>. It excels in scenarios where <Highlight>reducing client 
            complexity</Highlight>, <Highlight>decoupling dependencies</Highlight>, and 
            <Highlight>integrating with legacy systems</Highlight> are paramount. As we wrap up this exploration, keep in mind that the Facade 
            pattern, while powerful, finds its strength in its judicious application alongside other complementary design patterns.
        </p>
    </ContentBody>
</Content>