@page "/blogs/python-dynamic-interop-with-dotnet"
@inherits BasePage

<Content FileName=@nameof(Interoperating)>
    <ContentBody>
        <p>
            In this article, let's learn about how to use <Highlight>Python</Highlight> in .NET.
        </p>

        <h3>Table of Contents</h3>

        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#tldr")" Match="NavLinkMatch.All">
                    TLDR
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#why-dynamic-interop")" Match="NavLinkMatch.All">
                    Why Dynamic Interop?
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#getting-started")" Match="NavLinkMatch.All">
                    Getting Started
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#getting-script-input-from-user")" Match="NavLinkMatch.All">
                    Getting Script Input from User
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#scripting-risks")" Match="NavLinkMatch.All">
                    Scripting Risks
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#executing-python-statements")" Match="NavLinkMatch.All">
                    Executing Python Statements
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#interacting-with-python-objects")" Match="NavLinkMatch.All">
                    Interacting with Python Objects
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#interacting-with-external-python-file")" Match="NavLinkMatch.All">
                    Passing Custom Dynamic Objects to Python
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>

        <p>
            One of the benefits of the dynamic language runtime is the ability for our C# code to interoperate with other languages built on top of it such as <Highlight>IronPython</Highlight>. 
            Whilst making use of something like IronPython is not an everyday occurrence for .NET developers. We're going to start off by looking at some of the reasons why we might want to consider 
            dynamic language interop. We'll then jump into Visual Studio, and we'll see how we can get started with IronPython in our C# code. We'll then see how we can allow the end user to add scripting 
            content that gets executed in our application. We'll also learn how we can execute Python statements in our C# application and get access to the result value of the statement. We'll learn that 
            we can create Python objects and then access them dynamically from our C# code.
        </p>

        <h3 id="tldr">TLDR</h3>

        <figure>
            <img src="./image/blogs/python/interoperating/python-interoperation-in-dotnet.png" alt="python-interoperation-in-dotnet" class="[ w-full ]" />
        </figure>

        <h3 id="why-dynamic-interop">Why Dynamic Interop?</h3>

        <p>
            Few reason why we might want to consider using dynamic interop is,
        </p>

        <ul>
            <li>Language features not existing in C#. For example, chained comparison operators “1 &lt; age &lt; 50”.</li>
            <li>Existing libraries and scripts don’t have .NET equivalents. For example, running python algorithm in C#.</li>
            <li>Add user scripts to application. For example, user entering business rules as python expressions.</li>
        </ul>

        

        <h3 id="getting-started">Getting Started</h3>

        <p>
            Let's start off by seeing how we can execute simple Python expressions in C# code.
        </p>

        <h4>Steps</h4>

        <ol>
            <li>Install <Highlight>IronPython</Highlight> Nuget Package.</li>
            <li>Add necessary <Highlight>using</Highlight> statements.</li>
            <li>Create Python <Highlight>ScriptEngine</Highlight>.</li>
            <li>Execute Python expression from the Python <Highlight>ScriptEngine</Highlight>.</li>
            <li>Get the result as dynamic result or a generic result from the Python Engine.</li>
        </ol>

        <p>
            The following code sample shows how to execute simple python expressions in dotnet.
        </p>

        <CodeSnippet CssClass="language-csharp">
using IronPython.Hosting;
using Microsoft.Scripting;
using Microsoft.Scripting.Hosting;
using static System.Console;

ScriptEngine engine = Python.CreateEngine();
string simpleExpression = "2 + 2";

dynamic dynamicResult = engine.Execute(simpleExpression);
int typedResult = engine.Execute&lt;int&gt;(simpleExpression);

WriteLine($"dynamic result {dynamicResult}");
WriteLine($"typed result {typedResult}");

WriteLine("Press enter to exit");
ReadLine();
        </CodeSnippet>

        <figure>
            <img src="./image/blogs/python/interoperating/simple-expression.png" alt="simple-expression" class="[ w-full ]" />
        </figure>

        <h3 id="getting-script-input-from-user">Getting Script Input from User</h3>

        <p>
            We'll start off here by allowing the user to enter a Python expression that gets evaluated against a employee's age. The age will be stored in our C# code, but the expression will 
            be entered at runtime by the user. So what we'll do here is add a variable to hold the employee's age. We're hard coding this age to keep the demo simple, but you can imagine this 
            coming from a database or API
        </p>

        <CodeSnippet CssClass="language-csharp">
using IronPython.Hosting;
using Microsoft.Scripting;
using Microsoft.Scripting.Hosting;
using static System.Console;

ScriptEngine engine = Python.CreateEngine();
int employeeAge = 30;

WriteLine("Please enter an expression (use token 'a' for employee age) and press enter");
string simpleExpression = ReadLine()!;

ScriptScope scope = engine.CreateScope();
scope.SetVariable("a", employeeAge);

ScriptSource scriptSource = engine.CreateScriptSourceFromString(simpleExpression, SourceCodeKind.Expression);

dynamic dynamicResult = scriptSource.Execute(scope);
WriteLine($"dynamic result {dynamicResult}");

WriteLine("Press enter to exit");
ReadLine();
        </CodeSnippet>

        <h4>Steps</h4>

        <ol>
            <li>Create Python <Highlight>ScriptEngine</Highlight>.</li>
            <li>Get the expression from user.</li>
            <li>Create a scope using <Highlight>ScriptEngine</Highlight> instance.</li>
            <li>Assign the Python variable token a to the <Highlight>ScriptEngine</Highlight> instance using <Highlight>SetVariable()</Highlight>.</li>
            <li>Create a <Highlight>ScriptSource</Highlight> instance from engine using Create<Highlight>ScriptSourceFromString()</Highlight> and pass expression received from user and expression type as <Highlight>SourceCodeKind.Expression</Highlight>.</li>
            <li>Now execute the scope using script source.</li>
        </ol>

        <figure>
            <img src="./image/blogs/python/interoperating/simple-expression-getting-input-from-user-true.png" alt="simple-expression-getting-input-from-user-true" class="[ w-full ]" />
        </figure>

        <figure>
            <img src="./image/blogs/python/interoperating/simple-expression-getting-input-from-user-false.png" alt="simple-expression-getting-input-from-user-false" class="[ w-full ]" />
        </figure>

        <h3 id="scripting-risks">Scripting Risks</h3>

        <p>
            One thing to bear in mind here is that allowing users to enter and execute arbitrary script or code may introduce security, data corruption, and other risks into the project. 
            You should carefully consider these risks and put in measures to prevent them before adding this feature to your application. Next, we'll just ask the user to enter an expression 
            and tell them to use the token a to represent the employee age. Now, rather than hard coding this expression, we're going to read it from the user. For demo purposes, we're not 
            going to be adding validation to this input, but in a production app, you would want to do that. So, the token, a, is going to represent a Python variable.
        </p>

        

        <h3 id="executing-python-statements">Executing Python Statements</h3>

        <p>
            In addition to evaluating Python expressions, we can also execute Python statements and optionally access any variables that were set. Let's modify the code now to allow the user 
            to enter a Python statement at runtime that gets passed to the Python engine and executed.
        </p>

        <CodeSnippet CssClass="language-csharp">
using IronPython.Hosting;
using Microsoft.Scripting;
using Microsoft.Scripting.Hosting;
using static System.Console;

ScriptEngine engine = Python.CreateEngine();
int employeeAge = 30;

WriteLine("Please enter a statement");
string singleStatement = ReadLine()!;

ScriptScope scope = engine.CreateScope();
scope.SetVariable("a", employeeAge);

ScriptSource scriptSource = engine.CreateScriptSourceFromString(singleStatement, SourceCodeKind.SingleStatement);

scriptSource.Execute(scope);

dynamic dynamicResult = scope.GetVariable("result");
WriteLine($"Statement result {dynamicResult}");

WriteLine("Press enter to exit");
ReadLine();
        </CodeSnippet>

        <h4>Steps</h4>

        <ol>
            <li>Create Python <Highlight>ScriptEngine</Highlight>.</li>
            <li>Get the statement from user.</li>
            <li>Create a scope using <Highlight>ScriptEngine</Highlight> instance.</li>
            <li>Assign the Python variable token a to the <Highlight>ScriptEngine</Highlight> instance using <Highlight>SetVariable()</Highlight>.</li>
            <li>Create a <Highlight>ScriptSource</Highlight> instance from engine using Create<Highlight>ScriptSourceFromString()</Highlight> and pass statement received from user and expression type as <Highlight>SourceCodeKind.SingleStatement</Highlight>.</li>
            <li>Now execute the scope using script source.</li>
            <li>Call the scope's <Highlight>GetVariable()</Highlight> method to get result.</li>
        </ol>

        <p>
            So now that we're executing a statement, we're not getting the result back like we would when we evaluate an expression. so we are calling scope's <Highlight>GetVariable()</Highlight> method. Essentially 
            here, we're saying have a look in the Python statement entered by the user, and look for a Python variable called result. This, of course, assumes that the user will set a result 
            variable in their Python code.
        </p>

        <figure>
            <img src="./image/blogs/python/interoperating/single-statement-console-output.png" alt="single-statement-console-output" class="[ w-full ]" />
        </figure>

        <figure>
            <img src="./image/blogs/python/interoperating/single-statement-with-chained-operators-console-output.png" alt="single-statement-with-chained-operators-console-output" class="[ w-full ]" />
        </figure>

        <h3 id="interacting-with-python-objects">Interacting with Python Objects</h3>

        <p>
            Let's see next at how we can interoperate with objects created in Python from our C# code.
        </p>

        <CodeSnippet CssClass="language-csharp">
using IronPython.Hosting;
using Microsoft.Scripting;
using Microsoft.Scripting.Hosting;
using static System.Console;

ScriptEngine engine = Python.CreateEngine();
string tupleStatement = "employee = ('Abdul Rahman', 42)";

ScriptScope scope = engine.CreateScope();

ScriptSource scriptSource = engine.CreateScriptSourceFromString(tupleStatement, SourceCodeKind.SingleStatement);

scriptSource.Execute(scope);

dynamic pythonTuple = scope.GetVariable("employee");
WriteLine($"Name {pythonTuple[0]} Age {pythonTuple[1]}");

WriteLine("Press enter to exit");
ReadLine();
        </CodeSnippet>

        <h4>Steps</h4>

        <ol>
            <li>Create Python <Highlight>ScriptEngine</Highlight>.</li>
            <li>Create Python Statement.</li>
            <li>Create a scope using <Highlight>ScriptEngine</Highlight> instance.</li>
            <li>Create a <Highlight>ScriptSource</Highlight> instance from engine using Create<Highlight>ScriptSourceFromString()</Highlight> and pass statement received from user and expression type as <Highlight>SourceCodeKind.SingleStatement</Highlight>.</li>
            <li>Now execute the scope using script source.</li>
            <li>Call the scope's <Highlight>GetVariable()</Highlight> method to get result.</li>
        </ol>

        <figure>
            <img src="./image/blogs/python/interoperating/interacting-with-python-object.png" alt="interacting-with-python-object" class="[ w-full ]" />
        </figure>

        

        <h3 id="interacting-with-external-python-file">Passing Custom Dynamic Objects to Python</h3>

        <p>
            Let's see next at how we can load Python code from an external file.
        </p>

        <CodeSnippet CssClass="language-csharp">
using IronPython.Hosting;
using Microsoft.Scripting;
using Microsoft.Scripting.Hosting;
using static System.Console;

ScriptEngine engine = Python.CreateEngine();
HtmlElement image = new HtmlElement("img");

ScriptScope scope = engine.CreateScope();
scope.SetVariable("image", image);

ScriptSource scriptSource = engine.CreateScriptSourceFromFile("SetImageAttributes.py");

WriteLine($"image before executing python {image}");

scriptSource.Execute(scope);

WriteLine($"image after executing python {image}");

WriteLine("Press enter to exit");
ReadLine();

public class HtmlElement : DynamicObject
{
	private readonly Dictionary&lt;string, object?&gt; _attributes = new();
	private readonly string tagName;

	public HtmlElement(string tagName)
	{
		this.tagName = tagName;
	}

	public override bool TrySetMember(SetMemberBinder binder, object? value)
	{
		return _attributes.TryAdd(binder.Name, value);
	}

	public override bool TryGetMember(GetMemberBinder binder, out object? result)
	{
		result = _attributes[binder.Name];

		return true;
	}

	public override string ToString()
	{
		var sb = new StringBuilder();
		sb.Append($"&lt;{tagName} ");

		foreach (var attribute in _attributes)
		{
			sb.Append($"{attribute.Key}=\"{attribute.Value}\" ");
		}

		sb.Append("/&gt;");

		return sb.ToString();
	}
}

// SetImageAttributes.py
//image.src = "ilovedotnet.png";
//image.alt = "ilovedotnet";
        </CodeSnippet>

        <h4>Steps</h4>

        <ol>
            <li>Create Python <Highlight>ScriptEngine</Highlight>.</li>
            <li>Create <Highlight>C# dynamic</Highlight> element.</li>
            <li>Create a scope using <Highlight>ScriptEngine</Highlight> instance.</li>
            <li>Create a Python file and add it to project root and go to properties and select <Highlight>CopyIfNewer</Highlight> on <Highlight>BuildAction</Highlight></li>
            <li>Assign the c# dynamic element to the <Highlight>ScriptEngine</Highlight> instance using <Highlight>SetVariable()</Highlight>.</li>
            <li>Create a <Highlight>ScriptSource</Highlight> instance from engine using Create<Highlight>ScriptSourceFromFile()</Highlight> and pass python file name as parameter.</li>
            <li>Now execute the scope using script source.</li>
        </ol>

        <figure>
            <img src="./image/blogs/python/interoperating/passing-object-to-external-file.png" alt="passing-object-to-external-file" class="[ w-full ]" />
        </figure>

        

        <h3 id="summary">Summary</h3>

        <p>
            In this article, we learned some of the reasons why we might want to consider using <Highlight>dynamic interop</Highlight> such as the ability to take advantage of 
            language features not present in C# or to reuse existing Python code or libraries in our C# code. Next, we saw how we can get started with <Highlight>IronPython</Highlight>, 
            and the first thing we went and did is installed the IronPython NuGet package. We saw how we can use the static <Highlight>CreateEngine</Highlight> method of the Python class 
            to create an engine in which we can execute Python code. And we learned about a couple of the different types of source code that we can execute, the SourceCodeKind of Expression and the 
            SourceCodeKind of SingleStatements. We learned how we can create an object in Python such as a Python tuple and then access this from our C# code and how we can execute some Python stored 
            in a separate file by using the Create<Highlight>ScriptSource</Highlight>FromFile method. We learned that we can pass an instance of our custom dynamic object into the Python 
            engine and how this object can be manipulated in the Python script and thus access the resulting state in our C# code.
        </p>
    </ContentBody>
</Content>